[2017-03-15 23:11] dridk opened #3 "Create Sqlite importer as C++"
Convert Python Sqlite importer to Qt/C++

[2017-06-17 21:52] dridk opened #6 "Add selection Favorite feature"
Make user possible to select variant and store them as favorite

[2017-07-14 20:58] Oodnadatta opened #8 "Add Travis to CuteVariant"

[2017-07-15 00:06] #8 closed

[2017-07-21 22:55] dridk opened #10 "Support HPO term in query"
I would like to filter variant from [HPO](http://human-phenotype-ontology.github.io/tools.html) term.
For instance:
Show me all variants assciated with deafness.

def genesOf("deafness", "heart")  = >  GJB2 ....

How can we manage this ?
Store hpo into sqlite ? How ?

[2017-07-21 23:21] dridk opened #11 "Add Region filtering"
See :

https://stackoverflow.com/questions/36050139/sqlite3-intersect-two-tables-where-one-value-between-two-others

[2017-09-12 23:11] Oodnadatta opened #19 "Add click and drop to open file"

[2017-09-16 00:06] dridk opened #22 "resultview : Button Revert ref and ALT"

[2017-09-16 00:06] dridk opened #24 "BedDockWidget"

[2017-09-16 00:06] dridk opened #25 "MainWindow : Hide Query editor"

[2017-09-16 00:07] dridk opened #26 "What about template ?"
How to render the result view with unknown data fields ?

[2017-09-16 00:16] dridk commented on #33
![image](https://user-images.githubusercontent.com/1911063/30507445-16348cb6-9a85-11e7-8319-85411412a3b7.png)

[2017-09-16 00:22] dridk commented on #34
edition = 1 widget per field

[2017-09-16 00:25] dridk opened #35 "Open a new view from table"
You may want to use tab to show table separatly

[2017-09-16 00:26] dridk commented on #35
When double click on table ?

[2017-09-16 00:31] dridk commented on #38
QIcon::fromTheme ..

[2017-09-16 00:31] dridk opened #39 "Quick Search on the current view"
CTRL + F = > Show a quick filter

[2017-09-16 00:36] dridk opened #41 "Way to display sql query"
resultView with a button : display sql query

[2017-09-18 11:24] #3 closed

[2017-09-18 23:31] #25 closed

[2017-09-18 23:31] #35 closed

[2017-09-18 23:31] #41 closed

[2017-09-19 00:33] dridk opened #46 "Check version when open file"
avoid conflict between version

[2017-09-19 00:43] dridk commented on #43
not necessary... can be compute from contig in vcf file !

[2017-09-30 16:37] Oodnadatta commented on #51
Suggestion: it could be in the main windows (where you could find the import information) and not a modal dialog, like an web browser, to avoid having to click on the button to see your results.

[2017-09-30 17:43] Oodnadatta opened #55 ""ref" should not be highlighted"
![ref highlight](https://user-images.githubusercontent.com/5510283/31047945-10306bec-a614-11e7-8534-5000322b4e02.png)

[2017-09-30 18:02] Oodnadatta opened #58 "Handle several vcf in input"

[2017-10-01 00:21] dridk commented on #60
And menu ... ( substract with ... )

[2017-10-03 23:56] dridk opened #65 "Use lexer instead regexp"
see with @Arkanosis

[2017-11-13 15:23] dridk opened #67 "Add DisGeNET support"
http://www.disgenet.org/web/DisGeNET/menu/search?2

[2018-06-28 18:10] probonopd opened #72 "Does not run on Ubuntu 14.04"
`AppRun: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version àCXXABI_1.3.8' not found`. Please see https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages#creating-appimages-that-are-compatible-with-many-systems and especially https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages#libstdcso6.

References:
* https://travis-ci.org/AppImage/appimage.github.io/builds/397917506#L629
* ht

[2019-01-12 23:27] dridk opened #1 "Create VQL parser"
Parse VQL code using textx

[code]

"Where clause" must create a tree as a embedded dictionary .

[code]

[code]

source code here :
https://github.com/labsquare/CuteVariant-python/blob/master/cutevariant/core/query.py#L195

test code here :
https://github.com/labsquare/CuteVariant-python/blob/master/tests/test_query.py#L35

[2019-01-13 13:58] Aluriak commented on #1
I will work in the add-dsl branch, and first build a poc.

[2019-01-13 14:08] Aluriak commented on #1
What is the expected behavior when `gt("sacha").gt` is in the select clause ?

[2019-01-13 14:21] dridk commented on #1
It must be parsed as a column name.
I m parsing it in a second step to extract sample name and generate sql join with sample table.

self.column = ["chr","pos","gt('sacha').gt"]

[2019-01-13 14:33] Aluriak commented on #1
so, in short, column names can have any character, except comma and spaces ?

[2019-01-13 15:05] dridk commented on #1
Exactly. Columns are raw text or special function.

[2019-01-14 00:58] Aluriak commented on #1
See branch add-dsl for `pocs/vql.py` and `pocs/test_vql.py`, providing a base working implementation, as per 32dd6b7.

[2019-01-14 09:14] dridk commented on #1
You may want to add other sqlite operator :
https://www.sqlite.org/lang_expr.html

[code]

[2019-01-14 10:25] Aluriak commented on #1
Thanks !
Some of the operator here do not have a match in the `operator` module.

I will provide the operator as strings instead.

[2019-01-14 11:59] Aluriak commented on #1
See  c779525

[2019-01-14 14:38] Aluriak opened #2 "Caching for Query.count"
There is the standard [lru_cache](https://docs.python.org/3/library/functools.html#functools.lru_cache), or the third-party [cachetools](https://github.com/tkem/cachetools).

[2019-01-14 14:43] dridk commented on #2
Ah yes, that's true! Thank you ! That's exactly what I need

[2019-01-14 14:58] Aluriak opened #4 "Automatic formatting using black and pre-commit"
In order to get a properly formatted code (because [it would be much welcome](https://github.com/labsquare/CuteVariant-python/pull/3/commits/937d1bc51d74636a3da4bfa0b66335293b815b7e)), a good way would be to use [black](https://www.mattlayman.com/blog/2018/python-code-black/).

Instead of relying only on hand-crafted black PR just like #3, it would be useful to setup [pre-commit](https://pre-commi

[2019-01-14 15:27] Aluriak commented on #1
The VQL parser have been integrated as per last commits, and merged into master.

[2019-01-14 15:42] #1 closed, assigned to Aluriak

[2019-01-15 11:25] Aluriak opened #5 "VQL: default FROM clause"
In most examples, the FROM clause is `variants`. Since it sounds like the very basic usage, what about making FROM clause optional, with `variants` as the default value ?

Would be a change in VQL parser only.

[2019-01-15 11:28] dridk commented on #5
Because I switch terms from 'variants' to 'all' recently. I didnt update
the code with the new change.

Le mar. 15 janv. 2019 à 12:25, Lucas Bourneuf <notifications@github.com> a
écrit :

[2019-01-15 12:16] Aluriak commented on #5
Does not change the main idea. What about it ?

[2019-03-25 18:43] ysard opened #7 "Can't run - Error on absolute path of a database..."
Here the stacktrace:

[code]

[2019-03-28 14:59] ysard commented on #7
Fixed in f153a49

[2019-03-28 14:59] #7 closed, assigned to nobody

[2019-04-01 16:09] ysard opened #9 "VqlEditor attribute error on launch"
Stacktrace when launched:

[code]

getQuery() seems strange, variable at line 57 is not used:
`query = self.query.from_vql(self.text_edit.toPlainText())`

[2019-04-04 19:44] dridk opened #12 "Parser support"
Create different kind of parser

- [x] Raw VCF
- [x] VEP
- [x] SnpEff
- [ ] Annovar
- [ ] Affymetrix
- [ ] MAF format
- [ ] Varank format

[2019-04-04 22:37] dridk commented on #12
You must subclass AbstractReader class and override get_variants() and get_fields()
@see [FakeReader](https://github.com/labsquare/cutevariant/blob/devel/cutevariant/core/reader/fakereader.py)

## get_fields() yield as follow :
[code]

## get_variant() yield as follow:
[code]

[2019-04-10 08:59] dridk opened #13 "VariantWidget : display variant data"
VariantWidget should be composed by 2 panel :
- variant annotation
- samples genotype for the variant

[2019-04-10 09:00] dridk opened #14 "3d molecule viewer"
Need to explore how can I display a mutation from a 3D molecular perspective.

[2019-04-10 21:43] dridk opened #15 "Logging import crash application on windows"
When I run cutevariant on windows, I get the following trace . It seems comming from logging import . Maybe encoding problem ?

[code]

[2019-04-10 22:28] dridk opened #16 "Compile a windows binary"
Using cx_freeze on Appveyor should work :
https://www.appveyor.com/

[2019-04-10 22:45] dridk opened #17 "Create an omnibar"
Having a search bar on the top right would be greate.

[2019-04-10 23:01] dridk commented on #16
https://github.com/fredrikaverpil/fbs-tutorial

[2019-04-13 16:28] dridk opened #18 "detect genotype fields in VQL"
It would be greate to detect sample fields from parser :

[code]
VQL Model must returns a samples set (unique) :

      {'select': ('chr', 'pos', 'sample("sacha").gt '), 'from': 'all', samples: ("sacha", "lucas")}

[2019-04-13 17:19] Aluriak commented on #18
I don't get it. You want a list of all things enclosed by `"` ?

What are you trying to achieve ?

[2019-04-13 17:31] dridk commented on #18
I want a list of all things enclosed by samples("xxxxxx") . You can put those things into a "samples" set

[2019-04-13 17:51] dridk commented on #18
I need to build a sql query with a join . For example , here is the SQL result from VQL result  :+1:

3 tables:
 - variants ( id, chr, pos )
- samples (id, name)
- sample_has_variant ( sample_id,variant_id, gt )

VQL :
`SELECT chr, pos, sample("sacha").gt, sample("lucas").gt FROM all   `

SQL :
[code]

[2019-04-13 17:58] dridk commented on #18
And It may be greate to have also well formated columns inside the model  . ( Not sure if it's relevant from DSL or Query object )

Actually  :
`{'select': ('chr', 'pos', 'sample("sacha").gt '), 'from': 'all'}`

Suggestion :
``{'select': ('chr', 'pos', 's1.gt', 'from': 'all', samples =[{"s1": "sacha"}]}``

[2019-04-13 20:28] ysard commented on #14
From the point of view of the nucleotide or DNA helix / protein structure ?

Showing the relevant nucleotide and its chemical structure is possible but looking for additional info as the hydrophobicity should require an internet connection unless we stores this info in a local database.

[2019-04-13 22:33] dridk commented on #14
Display a mutation ( amino acid)  from a 3D protein structure .
Yes, I thought to use a webGL viewer which required an internet connection

[2019-04-13 22:42] dridk commented on #14
Something like this :
http://www.cbioportal.org/mutation_mapper

[2019-04-13 23:00] #15 closed, assigned to ysard

[2019-04-13 23:06] dridk opened #20 "VariantPluginWidget ideas"
VariantPlugins are widget which get variant data from the selected one in the main view.
List of plugin to do :

- [x] Info variant widget ( display all fields avaible for one variant )
- [ ] Web Page ( Display variant in an embedded web page like Ensembl , UCSC ...)
- [ ] Draw dna sequence with the variant ( required hg19.fa and refGene )

[2019-04-13 23:07] dridk opened #21 "QueryPluginWidget ideas"
VariantListPlugins are widget which get the current variant query ( list of variant ) .
Here are some ideas :

- [x] BarChart for SNPs

- [ ] Barchart for SNP, insertions, deletions, others

- [x] Transition / Transversion
Display content of transition and transversion as a pie chart.
http://dridk.me/images/post17/chart.jpg
http://dridk.me/transition_transversion.html

- [x] Hpo plugin
Display hpo

[2019-04-14 09:10] #17 closed, assigned to nobody

[2019-04-14 09:25] dridk opened #23 "Create AboutDialog"
![image](https://user-images.githubusercontent.com/1911063/56090837-d35abf80-5ea7-11e9-800e-5983c226bc0a.png)

Do the same AboutDialogWidget as the one from CutePeaks
https://github.com/labsquare/CutePeaks/blob/master/src/gui/aboutdialog.h
https://github.com/labsquare/CutePeaks/blob/master/src/gui/aboutdialog.cpp

[2019-04-14 09:33] dridk commented on #23
Application icon are available here  :
https://github.com/uracreative/works/tree/master/CuteVariant

[2019-04-14 19:23] #23 closed, assigned to nobody

[2019-04-15 21:31] #13 closed, assigned to nobody

[2019-04-15 21:34] dridk opened #27 "Groupby (chr,pos,ref,alt)"
It must be possible to group variant  by (chr,pos,ref,alt) in the variantviewer.
This is often the case when you have many transcript annotation per variant

[2019-04-15 21:41] dridk opened #28 "Add "bin" columns in variants table"
According to this post : http://plindenbaum.blogspot.com/2010/05/binning-genome.html
we should add a "bin" columns in variants table to improve SQL query performance

I did the C++ code , it's avaible here :
https://github.com/labsquare/CuteVariant-cpp/blob/devel/src/cutevariantcore/variant.cpp#L198

Also avaible here :
https://github.com/vatlab/VariantTools/blob/407c0db49860b2c9bd14a985f02ec0a10c

[2019-04-15 21:43] dridk opened #29 "Add favorite, score and comments attributes"
Each variant record must have a : favorite (bool) , score (int) and comment(str) attribute.

[2019-04-15 21:46] dridk opened #30 "Search bar for ColumnsQueryWidget"
ColumnsQueryWidget must have a toolbar and a search bar to filter model data.
You can use QSortFilterProxyModel to do that.

I suggest to keep the searchbar on the bottom and invisible. Display it only when it is triggered by the user ( button or shortcut CTRL+F)

[2019-04-15 21:52] dridk opened #31 "actions for ViewQueryWidget"
# Only action relative to the view

### ToolBar
- [x ] Order by ( chr, pos ...  Same as clicking on header )
- [x] Export current view ( csv, xls ... )

### Context Menu ( Left clicking on a variant )
- [x] Copy location
- [x] Open With ... ( TODO: settings/action

[2019-04-15 21:58] dridk opened #32 "actions for FilterQueryWidget"
## ToolBar

- [ ] add condition
- [ ] add logic (AND/OR)
- [ ] search ...
- [ ] Remove
- [ ] Get/Save model as -> QSettings

##  Context Menu

- [ ] add condition
- [ ] add logic (AND/OR)
- [ ] search ...
- [ ] Remove

[2019-04-16 01:40] ysard opened #33 "VQL query editor"
in `SELECT * FROM all;`:
- `*` raises this:
[code]

- `all` is a SQL keyword => confusion possible ?

- The `;` is displayed automatically but must be removed before executing the query when the field is edited manually.

- When the field is edited manually and the query is executed "columns" dockWidget is actualized; this is not wanted: the user losses its current view.

[2019-04-16 02:20] ysard opened #34 "VQL model_from_string: expected behaviour ?"
`model_from_string()` can return such a structure:
`MODEL: {'select': ('chr', 'pos', 'ref', 'alt'), 'from': 'all'}`

Later in `Query.from_vql()` (file `core/query.py`), `model_from_string()` is used and we expect that the attribute `self.columns` is a list, not a tuple.

I do not know what is best: if this function must return a structure with one or the other type but it must be documented becaus

[2019-04-16 08:13] dridk commented on #14
http://hg19.cravat.us/MuPIT_Interactive/

[2019-04-16 09:38] dridk commented on #14
Hope has an API
http://www.cmbi.ru.nl/hope/api/

[2019-04-16 13:57] Aluriak commented on #5
\><

[2019-04-16 14:10] Aluriak commented on #34
Whatabout just casting toward what you need ?
If you need a list for internal reasons, you should rebuild your own in any case (don't let your code be knocked-out by objects received from elsewhere).

The obvious fix is quite simple : cast in list [here](https://github.com/labsquare/cutevariant/blob/master/cutevariant/core/query.py#L201).

Now, we can also say that `model_from_string` must use lis

[2019-04-16 14:12] Aluriak commented on #33
the `*` is not supported. This is basically related to default values, and therefore to the open-for-a-long-time-but-never-addressed-until-closed-for-no-reason #5

[2019-04-16 14:40] Aluriak commented on #18
I'm pretty sure this is a second order problem.

Why do you need

    {'select': ('chr', 'pos', 's1.gt', 'from': 'all', samples =[{"s1": "sacha"}]}

and not a parsed tree ?

    {'select': ('chr', 'pos', {'type': 'sample', 'args': ('sacha',), 'sub': 'gt'}, 'from': 'all'}

What is the grammar of `sample` and `.gt` ? A controlled vocabulary ? Just letters ?

[2019-04-16 14:42] dridk commented on #33
"all" tables may be rename to "variants".
Select all fields (\*) is not really necessary for now. In the futur "*" can be replaced by a list of all fields.

[2019-04-16 14:48] dridk commented on #5
As you suggest , the minimal query should be :

       SELECT chr,pos,ref,alt

I closed the issue because I thought this is confusing . However after further consideration, It looks like a good idea.

[2019-04-16 14:59] dridk commented on #18
- "chr", "pos" and more  are fields from variant table
- "gt" and more are fields from sample table
- sample() should be a function like COUNT() in SQL .
If you want to get "xx" fields from sample "lucas" :

      SELECT sample("lucas").xx FROM variant WHERE sample("lucas").xx = 4

But you may be true. This is a second order problem . I can parse and extract sample fonction. Tell me what you want

[2019-04-16 15:44] dridk commented on #34
I agree with @Aluriak. Vql parser should returns a tuple . We can parse it as a list or something else from the  Query class.

[2019-04-16 16:40] ysard commented on #34
Ok so the API must return a tuple, I'll add this to the doc of this function...

[2019-04-16 16:40] #34 closed, assigned to Aluriak

[2019-04-16 20:07] dridk opened #36 "annotation table"
Refactor variant importation by adding an annotation table :

- Variant table must have : chr,pos,ref,alt as Primary key
- Insert variant using "INSERT OR IGNORE " to avoid duplicate
- annotation.variant_id should have an index

[2019-04-16 20:09] dridk commented on #36
Group by query :

[code]

[2019-04-17 08:12] dridk opened #37 "replace /tmp folder in unittest for windows/mac testing"
unit test doesn't work for windows because it create database in /tmp/ folder.
https://ci.appveyor.com/project/dridk/cutevariant-1ex8i

Need to change this folder to be compatible with windows or mac. For example :
https://github.com/labsquare/cutevariant/blob/devel/tests/test_reader.py#L73

[2019-04-17 08:41] dridk opened #38 "bed module"
Create a bed module to make possible to intersect variant within bed region

[2019-04-17 14:42] ysard commented on #28
Ok I see, the most frequently requested data is encoded in binary in a number.
This is probably of interest at the scale of a large database. For the moment, this is early optimization and SQL is not currently a weak point of the program :o

[2019-04-17 14:46] ysard commented on #37
For tests, a database memory-only seems to be cleaner ?

[2019-04-17 14:55] dridk commented on #37
Ah yes! You are true ! I forgot the possibility of ":memory: keyword".

Le mer. 17 avr. 2019 à 16:46, ysard <notifications@github.com> a écrit :

--
--
Dr Sacha Schutz
médecine / génétique moléculaire
Bioinformaticien
+33651571606
dridk.me
www.labsquare.org
Fork me on github <https://github.com/>

[2019-04-17 16:41] Aluriak commented on #33
@dridk `*` should be equivalent to `all`, we don't need any sorcery with the list of all fields. In fine, `*` raises the question of shortcut labels and aliases. Since you want a simple yet powerful to use VQL, you can't really rule out this.

[2019-04-17 16:43] Aluriak commented on #18
I think i understand. Do you mean that these two are equivalent ?

    SELECT sample("lucas").xx FROM variant WHERE sample("lucas").xx = 4
    SELECT xx FROM lucas WHERE xx = 4

[2019-04-17 16:49] Aluriak commented on #38
We should make room for the bed module, and ensure to call `sleep()` once in a while for efficiency.

[2019-04-17 17:31] dridk commented on #18
Absolutly not .... :)
You have 2 kind of fields:
Field per variant record
Field per sample per variant

    SELECT chr, pos, sample("lucas").gt, sample("sacha").gt FROM variants

See [snpfift filters](http://snpeff.sourceforge.net/SnpSift.html#filter)

So... you can parse as you said. The following output is good. But keep in mind that you can have this field in both select and where statements

[2019-04-17 17:54] dridk commented on #38
And you may want to add picture in your room using the pillow library

[2019-04-18 09:51] dridk opened #40 "Settings widget"
- [x] Translation Settings
Change application locale
- [x] Style settings :
Set dark / light theme and the style of application.  @see QStyleFactory
- [x] ProxySettings:
Save proxy parameter . @See QNetworkProxy
- [x] VariantLinkSettings:
Set a list of URL to open from a variant context menu
 - [x] GenomSettings:
Download Genom pack from IGV. By  default, IGV store genom in ~/.igv/
- [x] PluginsSe

[2019-04-18 16:27] #37 closed, assigned to nobody

[2019-04-18 16:33] #9 closed, assigned to nobody

[2019-04-19 12:01] dridk opened #42 "gene viewer module"
Using refGene and hg19, we should be able to display a gene which looks like Alamut Visual.

zoom out
![image](https://user-images.githubusercontent.com/1911063/56423251-81e97080-62ab-11e9-94e3-3717d43e802d.png)

zoom in
![image](https://user-images.githubusercontent.com/1911063/56423268-9299e680-62ab-11e9-84dc-69052069adfa.png)

[2019-04-19 15:20] ysard commented on #27
Is this a duplication of #31 ?

[2019-04-19 15:28] dridk commented on #27
not really. This feature required SQL manipulation.
#31 is about contextMenu .

[2019-04-19 17:37] ysard opened #43 "Documentation needed"
Dev doc is needed for at least all functions of this project...

We have to know in a wink by which function a function is called and when.
For now we have at least 53 Objects without docstrings and a huge amount of functions without them. This is a problem when it comes to maintaining the project now, and it will be even more in weeks.
Assuming that a class docstring corresponds to the complete d

[2019-04-19 22:52] Aluriak commented on #43
You may want to use [doctest](https://docs.python.org/3.5/library/doctest.html).

[2019-04-20 04:12] ysard opened #44 "Variant display problems"
The number of variants displayed is not the number of the database but that of the annotations.

- create a project with test.snpeff.vcf
- the view shows 73 variants but there are 11 variants in this file...

[2019-04-20 05:23] ysard commented on #43
Please, for the moment do not touch/do modifications in sql.py. Many changes to do before in this file...

[2019-04-20 12:11] dridk commented on #44
It's relative to annotation and GroupBy issue.
There are 11 variants. But each of them has many annotation. I m fixing that

[2019-04-21 03:23] ysard opened #45 "Handle bad (biologist) files"
The SQL code used for the insertion of the data is not resistant to the stupidities which one can find in files of users (biologists).

We have to design a test file with the worst things we can imagine.

Some proposals to implement (PS: I already know that these things will crash the code):
- [x] Variant duplication
- [ ] Duplicate annotations for the same variant
- [ ] Duplication of samples for

[2019-04-22 00:10] dridk opened #47 "Crash when clicking on selection item"
- Import test.snpeff.vcf
- Create a query : SELECT chr, pos FROM all WHERE ref = T
- Save the query as sel_T
- Create a query : SELECT chr, pos FROM all WHERE ref = C
- Save the query as sel_C
- Type a new query : SELECT chr,pos FROM sel_T   It works

Select the first item from the selectionQueryWidget ... It crashs the application

[2019-04-22 00:15] dridk opened #48 "Reader should have metadata"
We should be able to read metadata from a VCF file .
Reader must have a methods for that

[2019-04-22 03:10] ysard opened #49 "selections table and its association table"
The association table selection_has_variant only stores tuples of (variant_id, selection_id).
But since there are multiple versions of variants displayed, this table has a lot of duplicates.

I'm implementing a unique constraint on this, but it depends on queries with the DISTINCT keyword in create_selection_from_sql():
SELECT DISTINCT variants.rowid, {selection_id} ...

Is this OK ?

Also: Foreig

[2019-04-22 08:30] dridk commented on #49
Yes you can change it . Since I group variant now, they must not be any duplicate. But I would like to keep the option of non grouping.
About the rowid, ok, let's do some change and create an ID field every where.  What about creating the table WITHOUT rowid ?

[2019-04-22 08:35] dridk opened #50 "Add id field as primary key for all tables"
As @ysard mentioned in #49 , we should discard rowid because it can change at any time.
Create a dedicated id fields as primary key .
https://www.sqlabs.com/blog/2010/12/sqlite-and-unique-rowid-something-you-really-need-to-know/

[2019-04-22 15:45] dridk opened #51 "Rewrite query dispatcher"
i propose to rewrite the QueryRouter to something like this.
@see https://github.com/labsquare/cutevariant/blob/devel/cutevariant/gui/queryrouter.py
Tell me if you are agree

[code]

[2019-04-22 17:33] dridk commented on #20
https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-019-2706-8

[2019-04-23 01:22] ysard commented on #49
Replaced by #50

[2019-04-23 01:22] #49 closed, assigned to nobody

[2019-04-23 01:44] ysard opened #52 "Errors on insertions - what can i do"
# Old SQLite
## INSERT OR IGNORE
- mask other errors than violation of unicity => bad
- return the lastrowid of the latest correct query (not the id of the dup variant => problematic)

## INSERT OR REPLACE
- not dedicated to violation of unicity but try to overwrite the current variant
- do a deletion AND an insertion
- Change the lastrowid of the current variant => big mess in the database for al

[2019-04-23 07:03] dridk commented on #52
yes ! annotation and sample are relative to variant . If variant is wrong, annotation and sample too.

[2019-04-23 10:33] Aluriak commented on #45
Some ideas:

- [ ] use `а` instead of `a` for two otherwise identical entries (or `Ѕ` and `S`, or [any other](https://en.wikipedia.org/wiki/Cyrillic%5Fscript)). Ensure errors are raised for any non-ascii value. [Unidecode](https://pypi.org/project/Unidecode) may help.
- [ ] expect user to occasionally provides you non-unicode files. [Chardet](https://pypi.org/project/chardet) may help.

At some po

[2019-04-23 11:27] dridk commented on #45
We may validate json output from reader using json shema
https://pypi.org/project/jsonschema/

[2019-04-23 11:29] dridk commented on #45
I found something similar for validating dict instead json :

https://pypi.org/project/schema/

@see #53

[2019-04-23 12:32] dridk opened #53 "validate reader output using shema"
From abstractReader, create checks methods (check_fields, check_variant) for get_fields and get_variant, using shema library .
@see #45

[2019-04-23 15:44] #52 closed, assigned to ysard

[2019-04-23 16:46] #36 closed, assigned to dridk

[2019-04-23 16:47] ysard commented on #44
It seems to be fixed now.

[2019-04-23 16:47] #44 closed, assigned to dridk

[2019-04-23 19:27] ysard opened #54 "Error for files without annotations"
The table annotations is missing in this case, and queries are made on it with the following stacktrace when we try to open such a project:
[code]

[2019-04-23 21:12] dridk commented on #53
import is now really  slow with large file.... Need an option to disable check methods

[2019-04-24 00:17] ysard commented on #47
The slot "changed" is not implemented, i commented it.

[2019-04-24 00:19] #27 closed, assigned to dridk

[2019-04-24 00:19] ysard commented on #27
This feature seems to be implemented now.

[2019-04-24 08:00] dridk opened #56 "VQL for set operation"
It would be greate to have a grammar to create set . For instance, to select de novo mutation ( present only in child )

    CREATE denovo =  child - ( fater & mother )

It will perform the following query :

     SELECT chr,pos FROM variant EXCEPT (SELECT chr,pos FROM father INTERSECT SELECT chr,pos FROM mother)

[2019-04-24 12:49] ysard commented on #47
It appears that this is not a problem of signal connected to another signal.
QueryRouter.widgetChanged() is well called but it leads to an infinite loop of calls to it, followed by the emission of the signal changed() by SelectionQueryWidget(). Other widget are also participating to this mess.
Maybe we should stop signal propagation in one way or another?
Maybe with a self._silence = True like in

[2019-04-24 17:52] ysard commented on #53
Yes, maybe we could assume that the file is good and thus, not slow down insertions for users with correct files.
Also, if an error is generated at the end of the process, the process can be redone with further checks.
I speak essentially about primary keys/unicity constraints during insertions which are still slowing down data processing and are easy to detect.

Also, types of fields are checked

[2019-04-25 20:55] ysard opened #57 "Groups of variants with incorrect numbers"
After some tests of the gui (selection of selections, modification of VQL query):
![image](https://user-images.githubusercontent.com/14988285/56767954-479d3900-67ad-11e9-9e9d-15f25efce826.png)

[2019-04-25 22:32] Aluriak commented on #56
happy to see that you finally got my idea !

To handle operator chaining, you will have to define operator precedance and proper AST generation/compilation. Can be dull, maybe unwanted.

I have recipes for that ; take a look at [this](https://gitlab.inria.fr/lbourneu/pucerion/blob/master/parsing_utils.py).

[2019-04-27 19:58] #51 closed, assigned to dridk

[2019-05-01 18:19] #50 closed, assigned to ysard

[2019-05-01 20:57] dridk commented on #57
I guess it's fixed... Reopen if necessary

[2019-05-01 20:57] #57 closed, assigned to dridk

[2019-05-01 22:32] #54 closed, assigned to dridk

[2019-05-01 22:32] #47 closed, assigned to dridk

[2019-05-02 21:43] dridk opened #59 "Create phenotype table"
A phenotypes tables with dynamic columns :

    id sample_id  phenotype blue_eye  HTA  glycemia ...

In VQL :

      SELECT chr,pos FROM variants where phenotype("blue_eye") = True and phenotype("glycemia") > 4.2

[2019-05-02 22:02] dridk commented on #56
Some example of VQL :

### Display variants

    SELECT chr,pos FROM all WHERE genotype("sacha").is_hetero == True AND phenotype("sacha").blue_eye =True

### Create selections

     CREATE setA = SELECT FROM all WHERE gene=CFTR ;
     CREATE setB = all - (setA & setB)

### DELETE selections

     DELETE setA

### CONTEXT parameters

    SET truc=3
    SET genome=hg19

### Exemple of scripts :
####

[2019-05-02 22:12] dridk opened #60 "Display progression when importing"
Actually, import variant file from reader doesn't show a progress bar working.

- We can compute in a first step the total number of variant to compute the progression . BAD
- We can read the file size ( in gzip file, extract the unzip file size) and compute the progress. GOOD

[2019-05-02 23:06] dridk commented on #60
After several try, we can approximative the progression by something like this :

     def record_size(record: vcf.Record) :
                 return len(str(record.CHROM) + str(record.POS) .... )

    total = os.path.getsize(filename)
    for record in vcf.Reader(open(filename)):
            progress = record_size(record) / total  * 100

[2019-05-04 13:00] dridk opened #61 "don't allow exapand action when no transcript is displayed"
don't allow exapand action when no transcript is displayed

[2019-05-04 14:17] dridk opened #62 "transcript duplicate"
It looks like we have transcript duplicate into database .

[2019-05-04 15:41] dridk opened #63 "set operation editor as a graph"
Using nodeeditor, arrange table and set operation !
VariantSet and Operation (Intersect, union, except) can be joined together as node

![image](https://user-images.githubusercontent.com/1911063/57186011-c98d1080-6ed7-11e9-8cfe-65a1846b53fc.png)

[2019-05-04 19:38] ysard opened #64 "regression in viewquerywidget"
The red rectangle with the number of variants is not displayed anymore.
Numerous exceptions raised:
[code]

=> Probably a type problem. Can you document this function please :p

[2019-05-04 19:42] ysard commented on #64
Other issue:
This function paint() is called many many times: every time the window get the focus.
Is it efficient ?

[2019-05-04 23:44] dridk commented on #64
Yes, the paint() event is called many time ; But it's decided by Qt .

[2019-05-04 23:44] #64 closed, assigned to dridk

[2019-05-04 23:54] dridk commented on #56
Grammar proposition :

    CREATE setA FROM variant WHERE pos = 3

[code]

[2019-05-05 00:07] ysard commented on #64
What about the additional column with "0" before all sub variants now ?

[2019-05-05 19:06] ysard commented on #43
Tips from pep257:
D204 / 1 blank line required after class docstring (found 2)
D200 / One-line docstring should fit on one line with quotes (found 3)
D205 / 1 blank line required between summary line and description (found 0)
D212 / Multi-line docstring summary should start at the first line
D404 / First word of the docstring should not be `This`
D403 / First word of the first line should be prope

[2019-05-05 20:08] ysard commented on #61
and transcript should be checked by default ?

[2019-05-06 01:12] ysard opened #66 "regression: VQL errors are not showed anymore on the status bar"
as the title suggests...

[2019-05-06 13:55] ysard opened #68 "VQL error due to quotes/simple quotes wrapping text"
sqlite3.OperationalError: near "G": syntax error

Currently:
- In the gui, only text without quotes is supported, BUT when the VQL query is refreshed after an action from the user, quotes are added and the query is no longer functional.

What we expect:
We have to choose a uniformly used syntax or support all syntaxes;
(Note: Text without quotes is confusing)

Can someone fix this error please, it

[2019-05-06 14:38] ysard opened #69 "Ambiguous column names"
When a column in "annotations" has the same name as another column un "variants", we have the following error:
sqlite3.OperationalError: ambiguous column name: af

Reproductibility:
Open a vcf file, and select "af" column in variants or annotations.

Solutions:
- We could take care of the names of the columns in the database.
- We could ignore this field in annotations/variants.
- We could build S

[2019-05-06 17:02] ysard opened #70 "CSV export broken"
Since the implementation of variant groups the CSV export is broken...

[2019-05-06 19:55] Aluriak commented on #68
Can you provide examples of strings/query that are touched by this problem ?

I will modify the grammar to handle both writing (with quotes necessary when there is spaces in the string)

[2019-05-06 19:56] Aluriak commented on #66
VQL code raises VQLError ; it should be intercepted by the GUI.

[2019-05-06 19:58] Aluriak commented on #56
Why not just use current VQL grammar and allow to use either SELECT or CREATE as first token ?

[2019-05-06 20:23] dridk commented on #56
Yes.. I can factorize the grammar

[2019-05-06 23:12] ysard commented on #66
it was :p

[2019-05-06 23:22] ysard commented on #68
There probably are many bugs stacked but for now:

OK in the GUI:
`SELECT chr,pos,ref,alt FROM all WHERE ref = G`

A filter named "ref = G" appears on the left widget.
Now when you select/deselect a column in the widget "columns", the query is updated with the next syntax in this report (which is not functional if you write it by hand).

---

NOT ok in the GUI:
SELECT chr,pos,ref,alt FROM all WHER

[2019-05-08 03:27] ysard commented on #21
Can you describe in details what do you want here please ?

[2019-05-10 14:52] ysard opened #71 "ViewQuery fail to degroup items when samples are selected"
in `fetchMore()`
self._query.columns contains a tuple that raises an error :
`['chr', 'pos', 'ref', 'alt', ('genotype', 'NORMAL', 'GT')]`

There is also no header for samples.

Queries seems to be very complex? Maybe multiple queries are better than one

[2019-05-12 03:22] ysard opened #73 "About annotations, selections and variants retreived"
By doing systematically a LEFT JOIN on annotations and sometimes to selections, some queries can be very slow.
Aggregation functions like COUNT(*) may suffer from this (ex: query.variants_count()).

[2019-05-12 15:46] ysard commented on #68
Partially fixed: quotes pb is from Query object...
Now strings must be wrapped by quotes in the GUI. VQL is for advanced users and not using quotes for strings is confusing.

UPPER case for clauses is still en problem.

[2019-05-12 15:55] ysard commented on #68
Fixed by adding ignore_case to textx.metamodel_from_str().
1 month for that. thx.

VQL editor will fail to add syntactic coloration to these keywords.

[2019-05-12 16:05] ysard commented on #68
This can be fixed easily  with pattern option BUT we still have the problem of "all" string that is a SQL keyword; Pb related to #33
We have to decide something about this name !

[2019-05-12 16:07] ysard commented on #33
Remaining bugs:
- [ ] `*`
- [x] all
- [x] Auto-query on query editing is a pain in the ass: We must have a shortcul like F5 and/or Ctrl+Return to trigger that.

[2019-05-12 16:07] dridk commented on #68
All selection should be rename to "variants" like the table name.

[2019-05-12 16:10] ysard commented on #68
Ok i'm doing that

[2019-05-12 17:54] ysard opened #74 "Inefficient set queries on selections"
- [x] Creation of selections from a set operation between 2 is inefficient: we should depend on variants unique ids for that instead of (chr, pos).

- [x] Thus. sets involving "all" default selections fail

I will try to fix that... But, why create_selection_from_sql() depends on (chr, pos) or (chr,pos,ref,alt) ?

[2019-05-12 18:03] dridk commented on #74
See --mode from http://varianttools.sourceforge.net/Vtools/Compare

I guess using id is similar than (chr, pos,ref,alt) . Because the tuple is unique.
We can avoid (chr, pos) for now. It can be a feature for later.

[2019-05-12 18:28] ysard commented on #74
Yes indeed, id is similar to the primary key of `variants`.
But currently, when a selection is created, the mapping is on (chr, pos);
We don't see this behavior because our examples files have unique couples of (chr, pos)...

An idea to signal this behavior to the user and let him select the desired behavior?

[2019-05-12 18:35] dridk commented on #74
We can set a context parameter in VQL.

SET mode=site
CREATE a = b-c

From the UI, a button somewhere to switch between type.

[2019-05-13 02:19] ysard commented on #70
Currently we save only the variants that are viewed.  Is it the expected behavior when we export 50 variants over millions in the query?

[2019-05-13 16:38] ysard commented on #2
Done;
It will be the case as soon as other queries will be stabilized

[2019-05-13 16:38] #2 closed, assigned to dridk

[2019-05-13 16:40] ysard commented on #18
Is this issue can be closed now?

[2019-05-14 16:44] dridk opened #75 "dot caracter in sql query broke import"
I have a VCF file which returns a field name with a "dot" inside. "illumina.truc" . It results import vcf is not working . ( " variant table creation" and "import variant " from sql.py )

Solution 1 proposal :
Replace "." by "_"

Solution 2  proposal :
Back quote all columns in sql query .
CREATE `chr`, `pos` ...

[2019-05-14 17:09] ysard opened #76 "ViewQueryWidget: Cannonical transcripts"
The list of variants is very confusing when no annotation column is selected:
User may ask why he can scroll down the groups without anything that allows to distinguish elements in them.

Solution:
- [ ] Force almost 1 column in annotations to be checked
=> not fun because it forces to do sql join everytime to count variants.
- [x] Disable grouping and annotations querying when no annotation colum

[2019-05-14 17:53] dridk commented on #76
You mean hide columns (chr,pos,ref,alt ) only ? Humm..
To avoid confusing , we may change color ? Use a background color for children ?

### Idea...
In sens, those line are not children but duplicate. So, a tree view may be a wrong choice.
What about using a simple ListView ? By double clicking on the line, you add duplicate below the first one ?
From the end user, it's not really different.. But

[2019-05-14 17:58] dridk commented on #73
No solution actually ?

[2019-05-14 18:03] dridk commented on #69
We should ignore duplicate fields. Because they are probably the same.  it's not really important and we can skip it.

[2019-05-14 18:21] ysard commented on #76
Ok je reformule pour les colonnes:
Bah déjà si aucune colonne permettant de distinguer les variants n'est cochée, il ne faudrait pas pouvoir dérouler le variant parent (faire comme s'il n'y avait pas plusieurs annotations pour le variant).
=> ça c'est facile suffit d'enlever la jointure sur annotations (get_joints() fait ça avec do_not_add_default_things=True))

Le plus important serait de ne pas

[2019-05-14 18:25] ysard commented on #73
variants_count is now cached, and optimized if some parts of the query are fixed.
But when joints to samples are made it is time consuming and i can't do anything for the moment.
It takes 2,4second to count 1,5 million of variants resulting of a joint between 1 sample and 4millions of variants.
Also, group by, and annotations are added only if it is mandatory to satisfy the query.

[2019-05-14 19:25] #71 closed, assigned to nobody

[2019-05-14 19:25] #66 closed, assigned to nobody

[2019-05-14 19:26] ysard commented on #61
Related to #76 I'm closing this, and it will be implemented as a demo in another branch.

[2019-05-14 19:26] #61 closed, assigned to nobody

[2019-05-14 19:27] #75 closed, assigned to nobody

[2019-05-15 13:47] dridk opened #77 "Reset view when refreshing"
If you are on page 10 and you request a new query, the viewer will stay on page 10.
How to fix : Reset to page 1 each time a new query is performed

[2019-05-15 15:56] ysard opened #78 "Selections bug"
Selections doesn't select only visible variants:

Ex:
- Take a db file for test.vep.vcf
- Let's imagine that a variant is referenced on chr and pos (chr,pos,ref,alt behaves the same anyway)
- Add a variant with same chr, pos as the 11th in the db:
`INSERT into variants (chr, pos, ref, alt) values (11, 920000, 'G', 'Y')`
- Imagine the following filtered request for this variant made by the gui:
`SE

[2019-05-15 21:37] #77 closed, assigned to dridk

[2019-05-15 21:46] dridk commented on #78
Et si on enlève le GROUP BY ? Je veux dire par la, qu'on utilise le GROUP BY uniquement pour l'affichage.

[2019-05-15 21:52] dridk commented on #68
Values in where clause are now standard textx objects. ( String, Int, Float, Bool, Tuple ) . So it works like a regular programming language. String must be quoted, TRUE/FALSE are accepted.

[2019-05-15 21:52] #68 closed, assigned to Aluriak, dridk

[2019-05-15 22:17] #33 closed, assigned to Aluriak, dridk

[2019-05-15 22:18] #18 closed, assigned to Aluriak

[2019-05-15 22:21] dridk commented on #76
Je pense que le group by devrait être une option de la vue au même titre que LIMIT et OFFSET.
Ca serait ptetre plus facile comme ca ! A voir .. !

[2019-05-15 23:12] ysard commented on #68
Ok cool this part was still missing: detection of types.

[2019-05-16 02:38] ysard commented on #74
I'm not sure of the usefullness of the search mode (replacing the old 'by' arg) to search variants; In any case compare variants on some attrs is not what set operations between selections are supposed to do. Maybe its a further feature to search variants/site/genotype in the variants table according to the current selection.
We should discuss about this irl.

Cf 38acd623a17fc723bb75b2ade503f37c95

[2019-05-16 02:43] ysard commented on #76
à implémenter oui en attendant ça risque d'être le bazar sur l'affichage...
- Nécessité de dupliquer les variants dans les blocs déroulants pour cette raison + pour la multiplicité des annotations pour chaque variants.
- Masquer automatiquement les champs choisis arbitrairement; mais là on en revient à cette issue.

[2019-05-16 03:50] #69 closed, assigned to nobody

[2019-05-16 03:51] ysard commented on #73
I'm closing this. Nothing to do more here.

[2019-05-16 03:51] #73 closed, assigned to nobody

[2019-05-16 03:59] ysard commented on #5
Maybe it's time to look at this with the new version of grammar.
In the absence of FROM xxx: do not raise this kind of error:
`ERROR: TextXSyntaxError: Expected '(' or ',' or 'FROM' at position (1, 24) => 's, ref, alt * where ref'., Col: 24`

The FROM variants clause will always be added anyway by query.sql() or query.sql_count()

[2019-05-16 04:00] ysard commented on #62
Can this issue be closed now?

[2019-05-16 07:56] #62 closed, assigned to nobody

[2019-05-16 13:59] #70 closed, assigned to nobody

[2019-05-16 15:07] ysard commented on #76
Here is what i'm purposing in d14c120

![image](https://user-images.githubusercontent.com/14988285/57864956-0bce2000-77fd-11e9-92c1-f30fc1b9140d.png)

[2019-05-16 21:46] dridk opened #79 "Sample Wizard"
Create a wizard page to add information about sample detected from VCF file :

- Familly relationship
- Affected individual

![image](https://user-images.githubusercontent.com/1911063/57889297-c62d4980-7834-11e9-9e13-6fc884df8102.png)

[2019-05-16 21:58] dridk opened #80 "transmission mode as variant fields for trio analysis"
If user specify a Trio ( 3 samples : mother, father, child ) , we can compute a variant field to tell the transmission of the variant (AD, AR , X related ...).

[2019-05-16 22:10] dridk commented on #76
I disagree with this view. You have a lot empty space and you break the symmetry .
This is my suggestion :

- [ ] Row should be grouped by and only by (chr,pos, ref,alt) if annotation is selected.
- [x] Expand button should be displayed only if annotation is selected
- [ ] The cannonical transcript must be displayed as default. ( we don't have this information yet)
- [ ] When expanding row, we mus

[2019-05-16 22:18] dridk commented on #76
je me l'assigne !

[2019-05-16 22:33] ysard commented on #76
Ok; reste à identifier le transcrit canonique... Les parsers sont faits, la bdd aussi, ne me dis pas qu'il y a des infos non présentes dans les fichiers de tests :D
Sinon oui ça brise la symétrie mais les infos redondantes n'aident pas à identifier clairement les points qui changent dans la masse de données.
Sinon dans la colonne genotype du variant canonique il pourrait y avoir la liste résumée d

[2019-05-16 22:37] ysard commented on #74
This is fixed now, i keep the issue open just for the last proposition:
- Add a way to do extra operations on the variant table only.

[2019-05-16 22:43] ysard commented on #78
Fixed now, see #74 for remaining ideas.
Group by chr,pos is currently fixed in my branch. Will see what's up with the next viewquerywidget.

[2019-05-16 22:43] #78 closed, assigned to nobody

[2019-05-16 22:46] ysard commented on #43
25 files were documented over 29.
Still 4 missing. I left only these.
filterquerywidget.py is not implemented and viewquerywidget.py still suffers from a big lack of doc.

[2019-05-17 07:05] dridk commented on #76
En fonction du genome ( hg19 dans le wizard) faudra charger refseq ( liste des transcript du genome) . Avec un peu de chance, la premiere ligne des Annotations dans le vcf est le cannonique

[2019-05-17 13:48] ysard commented on #76
Some links:

$Canonical transcripts
http://snpeff.sourceforge.net/SnpEff_manual.html#cmdline

Q: Why do I see so many lines of output for each variant in my input?
https://www.ensembl.org/info/docs/tools/vep/vep_faq.html

http://www.ensembl.org/Help/Glossary?id=346

[2019-05-18 03:03] ysard commented on #16
Standard pip packaging on Windows is fixed.
Directives and rules to build cx_freeze blob on windows are added.

As usual I strongly advise against this kind of practices to create blobs of several hundred MB (350MB here) from applications of a few hundred KB.

That's the way the world works.  Unable to create packaging standards or use existing ones.
Add unnecessary techno overlays. This is the fu

[2019-05-18 07:57] dridk commented on #16
T'as réussi à le faire marcher sur windows ?? AppVeyor peut générer les binaires et les uploader .(artifact)

[2019-05-18 15:26] ysard commented on #16
Oui oui quelques conrrections, pas de difficulté particulière. Faut juste que le .exe sans dans la %PATH% de l'utilisateur.
Le cx_freeze par contre a été bien chiant. Il s'interface très mal avec le setup.cfg et le MANIFEST.in.
Et la version 5.x est incompatible avec Python 3.7; il faut prendre la version 6.x sur GitHub:

    pip install --upgrade git+https://github.com/anthony-tuininga/cx_Freeze.

[2019-05-18 15:38] dridk commented on #16
Super !!
Faudra l'automatiser sur AppVeyor !

Le sam. 18 mai 2019 à 17:26, ysard <notifications@github.com> a écrit :

[2019-05-19 15:11] ysard opened #82 "requirements.txt"
Deleted because dependencies are in setup.cfg.
It avoids to maintain 2 lists of requirements.

`pip install -e .[dev]` is the only way to locally install properly the project now.

[2019-05-19 18:27] ysard commented on #38
We need bed files in examples to start implementing this feature :p

[2019-05-19 21:34] dridk commented on #82
Ok, I removed it from travis.

[2019-05-19 21:34] #82 closed, assigned to nobody

[2019-05-19 21:46] dridk commented on #63
I tried https://github.com/LeGoffLoic/Nodz , and it seems good for our usage.
Following is a mokup suggestion and explanation of how it works

![image](https://user-images.githubusercontent.com/1911063/57988446-ce80c100-7a8e-11e9-834f-48000000eead.png)

## Nodes
Node refer to variant table or selection.
By defaut there is only one node "variants" and it is not editable .
Each node have input and o

[2019-05-20 15:32] ysard commented on #30
Also, in order to facilitate the search, columns should be sorted in alphabetical order.

[2019-05-20 18:11] Aluriak commented on #82
To install requirements, add this in Makefile:

    install_deps:
	    python -c "import configparser; c = configparser.ConfigParser(); c.read('setup.cfg'); print(c['options']['install_requires'])" | xargs pip install -U

[2019-05-20 21:59] ysard commented on #82
T'as pas plus complexe comme commande ? ><

Alors oui je suis d'accord que comme ça on arrive à installer les pré-requis séparément du programme principal.
Mais dans le cas présent (et en général?) le prog principal est installé juste après donc `pip install -e .[dev]` est plus rapide. C'est l'équivalent de `python setup.py develop` mais avec la possibilité de sélectionner les extras à installer.

[2019-05-20 22:19] #5 closed, assigned to nobody

[2019-05-20 22:22] #31 closed, assigned to nobody

[2019-05-20 22:24] dridk commented on #53
schema is now used only for unit test

[2019-05-20 22:24] #53 closed, assigned to dridk

[2019-05-20 22:28] dridk commented on #38
in sql.py , we need the following function :

[code]

[2019-05-20 22:29] dridk commented on #38
A bed file is just a text file with chromosom, start and end position :

[code]

[2019-05-20 23:51] ysard commented on #4
Seems to be solved via git hook.

[2019-05-20 23:51] #4 closed, assigned to nobody

[2019-05-21 17:09] Aluriak commented on #82
Excuse moi d'avoir proposé une solution.

Perso, je préfère une recipe un poil complexe (et encore, c'est une lecture de fichier de config et du xargs) qui fait exactement le minimum demandé, que pip install sur fichiers locaux qui fait potentiellement des side-effect.
Par exemple, installer le package. Chose que tu veux pas forcément faire quand tu initialise un nouveau virtualenv pour tester les

[2019-05-21 18:39] ysard commented on #82
En virtualenv local admettons c'est pour ça que la directive est encore présente.
Le pip install est de toute façon nécessaire ensuite pour exécuter le projet.

Tester la validité du packaging et donc l'installation est aussi le but de l'intégration continue.
Oui il y a des effets secondaires dans cette installation simulée mais de toute façon le vrai packaging ne peut être testé que sur un tar.gz

[2019-05-22 16:18] dridk opened #83 "cannot deploy on pypi"
After typing "make fullrelease", I get the following error.

Response status code: 400
Reason: The description failed to render in the default format of reStructuredText. See https://pypi.org/help/#description-content-type for more information.
There were errors or warnings.
ERROR: Package upload has failed.
NoneType: None

[2019-05-22 16:39] dridk commented on #83
I have no clue how to resolve it ...

[2019-05-22 16:57] dridk commented on #83
Seems to be resolved and published on pypi

[2019-05-22 16:57] #83 closed, assigned to dridk

[2019-05-22 23:15] dridk opened #84 "unicode error on windows"
Application crash on windows during importing vcf.gz file.
Because this function https://github.com/labsquare/cutevariant/blob/master/cutevariant/core/readerfactory.py#L38 try to read a vcf.gz as a standard text file, not a gz file

[2019-05-22 23:26] #84 closed, assigned to nobody

[2019-05-23 00:09] ysard commented on #84
You should specify in a commentary why 'rb' is tested for vcf.gz. Nobody will remember that trick in a few months.

We should always specify the encoding when we open a file:
`open("fichier.txt", "r", encoding='encoding')`

Cf http://sametmax.com/lencoding-en-python-une-bonne-fois-pour-toute/

[2019-05-23 11:33] dridk opened #85 "Wizard styles must be classic"
Set modern or classic style for wizard to have the same look & feel on different os.
Actually, on windows, the default aero style looks bad with the dark style.
https://doc.qt.io/qt-5/qwizard.html#wizard-look-and-feel

[2019-05-23 12:44] Aluriak commented on #83
Fixed properly with 650a7157153d

[2019-05-23 13:33] ysard commented on #85
Je passe en very low priority... Le widget filter doit être développé avant...

[2019-05-23 22:05] #85 closed, assigned to nobody

[2019-05-23 23:11] dridk opened #87 "ColumnWidget as a list"
Actually, columnWidget display columns as a Tree within 3 categories ( variants, annotations, samples).
I propose to have a simple list with 2 columns ( field name, field description) , category as icon and a search bar to perform search on boith 2 columns.

Something like this :

![image](https://user-images.githubusercontent.com/1911063/58292233-d7d89900-7dc0-11e9-96b5-bd4d0dbb90a0.png)

[2019-05-29 13:15] dridk opened #88 "import failed with some vcf file"
I cannot import this file : https://github.com/mobidic/MPA/blob/master/testing_data_set.vcf

[code]

[2019-05-31 03:21] #88 closed, assigned to nobody

[2019-05-31 14:53] ysard commented on #38
Can you think about the gui part of this implementation? A wizard to add bed files on batch?
It could purpose a zone to add files with a button or with drag and drop, to a dynamic list widget.
The wizard should also allow users to rename their selection based on each bed file.
Once the wizard is validated by the user, selections are created.

[2019-06-01 01:41] ysard commented on #38
We have to handle specific BED coordinates:
https://daler.github.io/pybedtools/intervals.html#bed-is-0-based-others-are-1-based

Should we let the user choose the format of his file in the wizard (in case a BED file is coded in 1-based)?
Errors at this level could have very serious consequences...

[2019-06-01 01:44] ysard commented on #38
Support of BED files is here on cdc518f.

How to use:
[code]

[2019-06-01 07:27] dridk commented on #38
We should use the same coordinate format for the whole application. 0-based seems more logic.

[2019-06-01 08:53] dridk commented on #38
It seems you are using pybedtools which depend on bedtools binary. I am not sure this will works for windows and mac

[2019-06-01 10:16] ysard commented on #38
Yes,

pros:
- avoid to develop a hand-made parser
- support of bedgraphs and simple bed files and any other file formats with unconstant headers...

cons:
- doesn't support space separated columns in files (>< WHY ? WTF!)
despite the fact it is implicitly supported in the [norm](https://www.ensembl.org/info/website/upload/bed.html).
- 11 Mo just for a parser (we don't use any other feature of this

[2019-06-01 10:24] ysard commented on #38
And like many tools in bioinfo it is a fucking black box that does everything and especially what we do not need.
I just need a multi-platform file parser for bed files and I end up with 11MB of sources, including C++ to be compiled, libs to make venn diagrams, set operations, annotation etc.

Why not have done an independent project for the parser? WTF ????

Do you know/recommend another simple P

[2019-06-01 10:26] dridk commented on #38
About the GUI implementation :
- From selection panel , a button : "create selection from bed " should be suffisant .
- From VQL , something like this ?

     "CREATE boby FROM variant INSIDE boby.bed

[2019-06-01 11:02] dridk commented on #38
I think the default csv parser is quite enough. Bed file is a csv file at
the end.

Le sam. 1 juin 2019 à 12:24, ysard <notifications@github.com> a écrit :

[2019-06-02 00:30] ysard commented on #38
Maybe just
`CREATE xxx FROM FILE file.bed`

An inserted BED file should always refer to `variants` table; so "FROM variants" is a permanent option.
Set operations are made by a user once the BED is added as a standalone selection.

PS: with Postgresql we have:
https://www.postgresql.org/docs/9.0/sql-copy.html

`COPY table_name FROM 'path/to/data.csv'` => insert file in DB
and:
`COPY table_name TO

[2019-06-02 19:42] ysard commented on #38
Ok, i just pushed a standalone BED parser (not like pybedtools) for gz files, text files and strings (like pybedtools); with a support for tabs and spaces delimited columns (not like pybedtools).

The parser is covered by tests.

See effb1b2

[2019-06-16 00:01] #38 closed, assigned to ysard

[2019-07-13 13:27] dridk opened #89 "Create CVF (cutevariant variant format ) Parser"
As cutevariant import json like format into sqlite, we can support a json file format .

`
{
  "fields: [ ],  => get_fields()
  "variants": [], => get_variants()
  "samples":[] => get_samples()
}
`

[2019-08-04 21:26] #87 closed, assigned to nobody

[2019-08-04 21:29] dridk opened #90 "Plugin selector"
Create a settings widget which display a list a avaible plugins.
- You can select a folder path
- you can check/disable a plugin

[2019-08-04 22:52] dridk opened #91 "Deploy with fbs"
Build a standalone app for linux,mac,Windows.

See:
https://codereview.qt-project.org/c/pyside/pyside-setup/+/256792/7/sources/pyside2/doc/deployment-fbs.rst#9

[2019-08-27 07:59] #90 closed, assigned to nobody

[2019-08-28 10:25] dridk opened #92 "CLI command line"
cutevariant should be running from command line :

[code]

[2019-08-31 22:03] dridk opened #93 "Export fam/plink"
Make it possible to export to plink format

[2019-09-03 09:03] dridk opened #94 "AbstractReader get_meta"
AbstractReader should have a get_meta() to return several information, in particular the total variant count . It will help to create a progress bar

[2019-09-03 11:40] dridk opened #95 "Customize cells color view with delegate"
It would be greate to allow user to create their own view with conditional color .
For example, display color cells depending condition.
The [columnar ](https://pypi.org/project/Columnar/) package do something similar.
Here is an example which returns colors :

[code]
But it may be better to return a pen color and a brush color :

[code]

What about using regexp  ?

What do you think ? @Aluriak @y

[2019-09-03 11:54] dridk commented on #95
For performance reason.... I will not use delegate for this purpose because it requires to compute each time the line is displayed. I will return color from the model using Qt.TextColorRole etc ....

[2019-09-03 11:54] #95 closed, assigned to nobody

[2019-09-03 12:16] Aluriak commented on #95
You can still assign roles after user gave the rules.
You want a mini language ?

    if AF < 1:
        AF is green transparent
    else:
        AF is red white

[2019-09-05 21:26] #92 closed, assigned to nobody

[2019-09-05 21:27] dridk commented on #76
There is an option "grouped" now .

[2019-09-05 21:27] #76 closed, assigned to dridk

[2019-09-05 21:27] #74 closed, assigned to dridk, ysard

[2019-09-05 21:28] dridk commented on #45
https://fr.wikipedia.org/wiki/Fuzzing

[2019-09-06 09:35] tderrien opened #96 "Variant annotation display"
Dear Sacha,

Would it be possible to visualize variant such as here:
https://www.ensembl.org/info/genome/variation/prediction/predicted_data.html
That would be great!
Tx

Thomas

[2019-09-09 11:38] dridk opened #97 "FILTER column is not parsed by VCFReader"
https://github.com/labsquare/cutevariant/blob/master/cutevariant/core/reader/vcfreader.py#L124

[2019-09-13 15:25] #97 closed, assigned to nobody

[2019-09-17 13:34] dridk opened #98 "count gene variant occurence"
@artem

[2019-09-19 22:33] dridk opened #99 "use vacuum after import"
https://www.sqlitetutorial.net/sqlite-vacuum/

[2019-09-19 22:44] dridk commented on #99
We are using DBS of 50 GB+ on our platform. no complains works great. Make sure you are doing everything right! Are you using predefined statements ? *SQLITE 3.7.3

Transactions
Pre made statements
Apply these settings (right after you create the DB)

PRAGMA main.page_size = 4096;
PRAGMA main.cache_size=10000;
PRAGMA main.locking_mode=EXCLUSIVE;
PRAGMA main.synchronous=NORMAL;
PRAGMA main.journal_

[2019-09-22 19:46] julienthevenon opened #100 "unique value filtering for impact"
apply filter for multiple occurences of identical terms in one filter.
Ex :
Impact column has tags : HIGH, MODERATE, MODIFIER, LOW.
Several rows have LOW; LOW,LOW; LOW,LOW,LOW ... etc until >10 occurrences. Filtering at once such pattern would be great

[2019-09-22 19:53] julienthevenon opened #101 "Compute mendelian status"
Computing mendelian inheritance from trio genotype,

- [x]  denovo
parent1.GT="0/0" & parent2.GT="0/0" & index.GT="0/1"
**beware of phased variants with | separators**

- [ ]  bilallelic
parent1.GT="0/1" & parent2.GT="0/1" & index.GT="1/1"
GeneX : varY (parent1.GT="0/1" & parent2.GT="0/0" & index.GT="0/1") &  varZ (parent1.GT="0/0" & parent2.GT="0/1" & index.GT="0/1")
**beware with multiallelic va

[2019-09-22 19:55] julienthevenon opened #102 "add a variant ID page"
A helpfull plugin !
right click on a variant opens a pane with medical annotations highlighted (list to be defined) and pre-computed ACMG scores. A multi-line text pane should be proposed to add a textual medical interpretation directly in the db.

[2019-09-23 12:44] dridk commented on #100
Looks like a bug with VEP parser. I m investigating

[2019-09-23 12:54] dridk commented on #101
todo:
- Use a ped file to defined the trio
- What about analysis with more than 3 patients ?

[2019-09-23 12:59] dridk commented on #102
From devel branch, cutevariant support user annotation ( bookmarks, comments and score ).

![image](https://user-images.githubusercontent.com/1911063/65427481-ae815580-de12-11e9-8de4-d4ab1ded0f15.png)

[2019-09-23 13:18] julienthevenon commented on #101
using a PED format file allow the contruction of complex family trees (inferring, if necessary, individuals that may not be analysed)

[2019-09-23 22:40] #29 closed, assigned to nobody

[2019-09-23 22:41] #32 closed, assigned to nobody

[2019-09-23 22:42] #40 closed, assigned to nobody

[2019-09-24 14:46] dridk opened #103 "Settings doesn't show"
Gtk-Message: 12:29:32.139: GtkDialog mapped without a transient parent. This is discouraged.
Traceback (most recent call last):
  File "/home/julien/miniconda3/lib/python3.7/site-packages/cutevariant/gui/mainwindow.py", line 359, in show_settings
    widget = SettingsWidget()
  File "/home/julien/miniconda3/lib/python3.7/site-packages/cutevariant/gui/settings.py", line 346, in __init__
    self.lo

[2019-09-24 17:20] julienthevenon commented on #103
Gtk-Message: 19:18:37.903: GtkDialog mapped without a transient parent. This is discouraged.
Traceback (most recent call last):
  File "/home/julien/miniconda3/lib/python3.7/site-packages/cutevariant/gui/mainwindow.py", line 359, in show_settings
    widget = SettingsWidget()
  File "/home/julien/miniconda3/lib/python3.7/site-packages/cutevariant/gui/settings.py", line 346, in __init__
    self.lo

[2019-09-24 17:23] dridk commented on #103
How did you install the last update ? From git or from pip ?

[2019-09-24 19:14] julienthevenon commented on #103
j'ai essayé sur mon mac et sa fonctionne ça semble être un soucis d'ubuntu ou unix ?

t'as quoi comme machine ?

Le 24/09/2019 à 19:23, sacha schutz a écrit :

How did you install the last update ? From git or from pip ?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/labsquare/cutevariant/issues/103?email_source=notifications&ema

[2019-09-24 21:32] dridk commented on #103
Je suis sous ubuntu aussi .
C'est peut-être à cause d'anaconda que tu utilise je crois. Je vais essayer
de le reproduire J'utilise virtualenv sinon et je fais comme ça:

# installation de virtualenv
sudo apt install python3-virtualenv

# cloner le dépôt
git clone
https://github.com/labsquare/cutevariant.git

# passer sur devel
cd cutevariant
git checkout devel

#créer un env virtuel
virtualenv -p

[2019-09-26 13:39] dridk opened #104 "design example"
![IMG_20190926_153818](https://user-images.githubusercontent.com/1911063/65692939-c4418580-e073-11e9-92e5-352cdba19ba2.jpg)

[2019-10-01 21:02] dridk opened #105 "Manage list type from VCFReader"
We must support list type.
I suggest to create many columns as they are sub column.
For instance, if you have a column as it mention from SnpSift documentation:

    Cases=1,2,4;

Then create 3 columns named :

     Case_0 = 1
     Case_1 = 2
     Case_2 = 4

[2019-10-20 23:33] dridk opened #106 "Create has operator"
[code]
can be translate in sqlite as :
(',' || column_name || ',') LIKE '%,value,%'

[2019-12-06 10:29] klva opened #107 "Support for other assemblies"
Hello,

I'm looking at CuteVariant to analyze variants generated on the hg38 assembly. In the create project dialog, the only assembly option is hg19.  Looking at [the project wizard code](https://github.com/labsquare/cutevariant/blob/14c86b23ee5c53183eaac9ac3cf761bb9944641c/cutevariant/gui/wizards/projectwizard.py#L35), this option seems hardcoded.

Besides adding the option in the project dialog

[2019-12-06 11:07] dridk commented on #107
Hi,
Thanks for your interessting !
Actually it doesn't do anything. You can open any kind of vcf.
I m working hard on the code to have a beta release soon ! So, any feedback is welcome

[2019-12-17 15:23] #103 closed, assigned to nobody

[2019-12-17 15:24] #102 closed, assigned to nobody

[2019-12-17 15:27] #107 closed, assigned to nobody

[2020-02-12 22:38] #60 closed, assigned to dridk

[2020-02-13 16:31] dridk opened #108 "OFSET LIMIT Optimisation"
It takes time to read record from last page.

https://stackoverflow.com/questions/14468586/efficient-paging-in-sqlite-with-millions-of-records/14468878#14468878

[2020-04-21 12:04] dridk opened #111 "Create plugin to display genotype of all samples"
Create a simple widget to display widget of all samples when you click on a variant

[2020-04-22 19:11] #111 closed, assigned to nobody

[2020-04-22 19:12] dridk opened #112 "sqlite progress handler"
Using set_progress_handler, create a progressbar in status bar

[2020-04-23 10:37] #106 closed, assigned to nobody

[2020-04-23 10:39] dridk commented on #91
PyInstaller works better !

[2020-04-23 10:39] #91 closed, assigned to nobody

[2020-04-23 12:20] #56 closed, assigned to nobody

[2020-07-27 21:29] dridk commented on #104
several plugins loooking same than cutevariant  : DBHeaver

![Screenshot_20200727-232720_Medium.jpg](https://user-images.githubusercontent.com/1911063/88594114-eecbe880-d060-11ea-82e2-208b3ec5c869.jpg)

[2020-08-04 14:39] dridk opened #113 "GA4GH shem"
Follow recommandation of GA4GH for fields name
https://github.com/Phelimb/ga4gh-mongo

[2020-08-05 17:28] dridk opened #114 "Remove automatically all fields with no information"
Some fields can be None for all variants... remove them !

[2020-08-26 21:58] dridk opened #115 "VQL nice autocompleter"
![65560763-b6192b00-def4-11e9-98f7-1be262020c3b](https://user-images.githubusercontent.com/1911063/91361194-12b55200-e7f8-11ea-95dc-58252e3964dd.png)

see spyder

[2020-08-28 08:38] klva opened #116 "Changing pages should scroll to top"
Changing pages in the variant list (at least going forward) should scroll the list to the top. Current behavior is to stay at the same position, which confuses users.

[2020-08-28 15:17] #116 closed, assigned to nobody

[2020-08-28 17:01] dridk commented on #112
need to mind how to run a query ( async or sync )

[2020-08-28 17:15] klva opened #117 "Variant view does not refresh when a variant is modified in variant_info"
Steps to reproduce :
* display the "favorite" column in the fields editor
* select a variant in the variant view
* check the "Is saved" checkbox in the variant_info plugin
* click save

Expected behavior :
The favorite value of the variant in the variant view changes immediately

Actual behavior :
The variant does not change until the view is manually refreshed

The fix has to be tested in group b

[2020-08-28 18:43] dridk commented on #117
Now the User variant data can be edited from the context menu .
![image](https://user-images.githubusercontent.com/1911063/91604490-08699400-e96f-11ea-80b7-e083cd051c87.png)

I disable for now the possibility to save from variant_info. I prefere use it as a viewer only.
But I keep the possibility to restore the save action from it.

[2020-08-28 18:43] #117 closed, assigned to nobody

[2020-08-29 06:46] dridk opened #118 "nested filter UI"
https://js.devexpress.com/Demos/WidgetsGallery/Demo/FilterBuilder/WithDataGrid/jQuery/Light/

![image](https://user-images.githubusercontent.com/1911063/91630740-3208d680-e9d4-11ea-883a-2d6e8c89ce06.png)

[2020-09-18 12:40] ysard opened #119 "cutevariant console shortcut doesn't work anymore"
`cutevariant` shortcut installed from setup.cfg doesn't work anymore.

In __main__.py, `main()` should not have arguments. Moreover `__main__` function is legacy here because the way of execution via `python -m cutevariant` is quite deprecated in favor of `gui_scripts` option from setup.cfg. Note that __main__ is not called when the module is imported (https://docs.python.org/fr/3/library/__main__

[2020-09-18 12:55] ysard opened #120 "ImportError: cannot import name 'Qt'"
devel branch; Just after execution:

`  File "/media/DATA/Projets/cutevariant/cutevariant/cutevariant/gui/formatters/default.py", line 1, in <module>
    from PySide2.QtGui import (
ImportError: cannot import name 'Qt'
`

Idem in `/media/DATA/Projets/cutevariant/cutevariant/cutevariant/gui/formatters/seqone.py`

- What are these sources?
- What are they for ?
- Why are there so many unused and wro

[2020-09-18 12:57] ysard opened #121 "Check version before open"
branch devel; Just after quick fix of #120 :+1:

[code]

It is probably trying to open an old project file without testing whether the database structure has changed?

[2020-09-18 12:57] dridk commented on #119
I probably change this for pyinstaller . Let see if it build correctly from appveyor .

[2020-09-18 13:00] dridk commented on #121
You probably try to import on old sqlite database  .

[2020-09-18 13:12] ysard commented on #121
Ok I will try to see if a cleaner error handling could be made.

[2020-09-18 13:30] mariesosa opened #122 "Cutevariant not working when installed via pip"
I installed cutevariant via pip (without any error) but when I tried to launch cutevariant I got the following error :

![Screenshot_20200918_122704](https://user-images.githubusercontent.com/24796531/93602470-f190ed00-f9c2-11ea-808b-6133e4d0f0ad.png)

Requirements allow PySide2>=5.11.2 but cutevariant is not working with the last version of PySide2 (5.15.1). The error disappears if you force the

[2020-09-18 13:35] ysard commented on #122
The question is: is there a technical obligation to use the latest versions of PySide2?
- No for the master branch.
- What about the devel branch?
For now we should revert fdcb7141d0ffd374b1b71c95698f4e48367bd665

[2020-09-18 13:42] dridk commented on #122
Due to Markdown feature, we should use 5.15 as the minium version !
Thanks @mariesosa  for the issue !

[2020-09-18 14:43] ysard opened #123 "New PySide2 versions on old systems"
[code]
The problem does not exist with version 5.11.x.

Solved in Debian Jessie with the manual installation (via dpkg) of libdbus-1-3 (amd64 and i386 versions) + libdbus-1-dev packages from Debian Stretch. However it is a temporary solution that leaves these packages in a broken state.

This issue is related to #122.

On the master branch, we need to revert to version 5.11.

For the other branche

[2020-09-18 14:44] ysard commented on #122
Well, 5.14 to be precise (https://doc.qt.io/qt-5/qtextedit.html#markdown-prop) but ok, point taken.

We could/should think about a fallback (#123).

[2020-09-18 18:53] ysard opened #124 "Edit comment is broken"
cutevariant/gui/plugins/variant_view/widgets.py

This menu should:
- [x] Load previous comment (currently broken)
- [x] Save comment in DB (ok)
- [x] Refresh variant_info widget after saving (currently broken)
- [x] Update source code when RichText is updated (seems to be currently broken)

![image](https://user-images.githubusercontent.com/14988285/93634129-60386f80-f9f0-11ea-8f95-b919d70c3a4d.pn

[2020-09-18 19:06] ysard commented on #121
Ideas:
- display an error dialog box.
=> currently how do you alert the user in the event of an error? DialogBox/error on status bar of MainWindow ?
- try except Exception (bioinformatics way)

In addition, this kind of problem will repeat itself, I think it would be better to add in the metadata of the projects the version of Cutevariant with which a project was produced, this figure could be com

[2020-09-18 19:20] ysard opened #125 "Cleaning files"
./cutevariant/gui/querymodel.py

This:

![image](https://user-images.githubusercontent.com/14988285/93636416-2f5a3980-f9f4-11ea-9efa-0e3a0a472664.png)

is not possible...

Can we use IDEs that don't allow the developer to leave this sort of thing in committed code?

There is also a technical justification for not loading all modules from the earth: the speed launch of the app.

:cry:

[2020-09-18 23:15] ysard opened #126 "SQL everywhere"
Many plugins have their own SQL queries.

This makes database maintenance and query tracing more complicated, and should only be implemented as a last resort.

We should consider moving these fragments to a centralized file like before...

[2020-09-19 02:19] ysard commented on #121
Equivalent of try/except around the error produces a GUI partially initialized;
source_editor plugin displays a number of variants...

Calling `self.refresh_plugins(self)` from mainwindow does nothing.
Is there any way to deregister plugins, or reset their status ?

[2020-09-19 02:26] ysard opened #127 "Bug during the opening of projects"
To reproduce:
- Open a project
- File/Recent: RE open the SAME project
- File/Recent: Open another project

Number of rows/pages is still the number of the first project. Maybe another issue is  present...

[2020-09-19 04:00] ysard commented on #99
Please, RTFM.

https://sqlite.org/pragma.html

# page_size
- 4096 par def depuis SQLite 3.12
- à faire **avant la création** d'une table ou **avant un VACUUM** si la table existe déjà

=> faire ça en l'air, après la création n'a aucun sens
Please, RTFM.

# cache_size
- `-2000` par def
- Ne dure que durant la session

- Si -N: le cache est alloué à N*1024 bytes (à partir de la 3.7.10)
- Si N: allou

[2020-09-19 04:07] #99 closed, assigned to nobody

[2020-09-19 10:08] dridk commented on #125
I will !
The main reason of this : Make it work first , clean after ! :D

[2020-09-19 10:11] dridk commented on #126
I agree ! I tried to put all stuff in cutevariant.core.sql ! But in some cas, there is no way. One function for each query is cumbersome

[2020-09-19 10:18] dridk commented on #121
- I agree ! There is already a metadata table with the version . Let's create an issue to check version before opening a file .
- For the dialog box, I aready ask to the PySide2 community how they handle exception in a GUI apps.
I propose to handle hall message of the application in the a QMessagebox :

[code]

But there is some exception which crash the application and other don't !
By the way, W

[2020-09-19 10:25] dridk commented on #123
By the way, in old PySde2 , qApp singleton required to import QtCore.qapp
From 5.12 ( I guess), qApp is imported by default from QApplication instance

[2020-09-19 10:56] dridk commented on #124
I was inspired by markdown editor.   Rich text view should not be editable . That's why I used 2 slides

![image](https://user-images.githubusercontent.com/1911063/93665535-81906e80-fa77-11ea-842d-df91b7189a2f.png)

[2020-09-19 11:07] dridk opened #128 "VCF examples"
Several exomes freely avaible on the internet . If you want to test with huge dataset

http://goo.gl/xsZTF

[2020-09-20 18:07] ysard opened #129 "What is the purpose of Edit menu ?"
mainwindow:
[code]

and `current_tab_view` is commented out => exception raised.

It is so frustrating for a user to have a completely non-functional feature or a partially implemented feature.

Can we purge this menu ?

[2020-09-20 19:34] ysard opened #130 "No way to restore default positions of widgets"
This **was** an operational functionality.

[2020-09-20 20:13] ysard commented on #121
But... It was already fixed by me in 7ddd02b during night... :(

[2020-09-20 20:37] ysard opened #131 "Columns issues in variant_view plugin"
- [x] Default field were (master branch) pre-selected.
There is nothing more annoying to select the fields one by one on each restart

- [x] Why id column is showed ? It was hidden in master.
who cares about the id of the variant in BDD?

[2020-09-20 20:44] dridk commented on #129
We can use it to add "copy" , "select all" line !  Or other edit action from variant_view plugin

[2020-09-20 20:46] dridk commented on #121
Sorry ! We must assign the issue to ourself, before fixing issue

[2020-09-20 20:46] ysard opened #132 "Group by issue in variant_view"
Steps to reproduce:

- Open project
- Add a field (ex classification)
- Click on group by
- classification field is not displayed (No new field can be added at this state)
- Click on group by
- Classification field is showed

Workaround:
User has to click on a column in group by view to refresh the right view and see the new column

See:
![image](https://user-images.githubusercontent.com/14988285/

[2020-09-20 20:48] ysard opened #133 "Favorite column state"
Lots of friction to add a favorite variant. A checkbox per variant would be a much better way to interact with the user with less actions to do.

[2020-09-20 20:49] dridk commented on #131
It should be hidden, yes!  It's for debugging purpose actually. It can be hidden now .

[2020-09-20 20:52] ysard commented on #131
- Ok for id column, i will display it only in DEBUG loglevel.
- For default selected fields i will let you fix that.

[2020-09-21 01:02] ysard commented on #124
Mainly fixed now... Please just add the current comment text in MarkdownEditor constructor

https://github.com/ysard/cutevariant/blob/ba06dd724083da4f5a41fc423c2485b160e8c902/cutevariant/gui/widgets/markdown_editor.py#L35

editor = MarkdownEditor(default_text="xxx")

[2020-09-21 01:18] ysard commented on #131
Id do not see where i can filter this id column.

You can auto filter it according to the loglevel with this code

[code]

[2020-09-21 01:20] #129 closed, assigned to ysard

[2020-09-21 05:36] ysard opened #134 "Installation/dev on Windows"
Sections were purged from the README in master...

It's a shame for someone who wants to build the project on this platform.
Time has been invested to make it work.
Please do not delete documentation unilaterally...

In addition, the section concerning zest releaser has also been deleted.
I hope that the upload process to pypi does not just involve a manual modification of the __init__.py...

[2020-09-21 05:41] ysard commented on #122
Several modifications have been made, including on master in order to fix a number of serious problems with the installation of the public stable version. We should now update the source package and the wheel on PyPi.

[2020-09-21 06:19] ysard commented on #108
Is it possible to have again the small button allowing to see the SQL query executed in a messageBox (like on master)?

[2020-09-21 06:58] dridk commented on #134
Pyinstaller has been updated recently to make building PySide2 application on win32 easier.
That's why I changed it.
Actually, the windows binary is created from appVeyor automatically.

[2020-09-21 07:00] dridk commented on #108
Yes, you can add it .
If you try to optimize it, test with an exome file .

[2020-09-21 08:23] dridk opened #135 "Sqlite run asynchronously"
It would be greate to use asynchrone sqlite query to perform slow operation like :

- Count how many variant there are
- Load variants into the mainview

@ysard  I did this class  ..   Could you review it and tell me if it is okay for you ?
https://github.com/labsquare/cutevariant/blob/devel/cutevariant/gui/sql_thread.py

[2020-09-21 12:14] ysard commented on #108
In fact I'm asking how to add it or if you could add this button. This part of code was refactored since 1 year and i don't know where to look at...

Yes exome 1.7GB

[2020-09-21 12:47] dridk commented on #108
okay, just asign to myself !

[2020-09-21 13:44] ysard opened #136 "Clean repository root"
Can we clean/move Python files at the root of the project ?

what are they ? proofs of concept, erroneous trials? If it should be in the repository, make a pocs folder.

There should only be 2 files: setup.py and make_a_blob.py

Please can you decide on the fate of these files: deletion vs move to /pocs:

- [ ] benchmark.py
- [ ] graph_gui.py
- [ ] mytest.py
- [ ] prompt.py
- [ ] qjsonmodel.py
- [

[2020-09-21 15:41] dridk commented on #136
benchmark.py => poc/
graph_gui.py => poc/    #  Create a Graph from VQL
mytest.py => remove   # local testing purpose
prompt.py => poc #  autocompletion with cli
qjsonmodel.py => poc / # required by vql_gui
Untitled.ipynb => remove
vql_gui.py => poc/  #  a Tool to visualize VQL
.sonarcloud.properties # Remove ..
umbrella.xmi #  Remove
mon_cul_sur_la_commode.py  # As a main page of the website
mes_

[2020-09-21 15:43] #136 closed, assigned to dridk

[2020-09-21 16:23] ysard opened #137 "VQL command module = pain in the ass"
- [x] Can someone document this module ?

What is the purpose of `execute_all /execute` functions (never used)?
`create_command_from_obj()` seems to wrap other functions but in `cutevariant/gui/plugins/vql_editor/widgets.py`
`run_vql()` calls it only for "create_cmd", "set_cmd", "drop_cmd".

- [x] These functions are not tested by unit tests.
- [x] The unit tests module is also not documented.

I

[2020-09-21 16:45] ysard opened #138 "IDE conf"
There are non breaking spaces inserted everywhere in files.

Like you can see, it's quite "annoying":
![image](https://user-images.githubusercontent.com/14988285/93795929-67eb5480-fc3a-11ea-9d42-848757c7eac5.png)

Please configure your IDEs/notepad.exe :sob:
I will insert a special directive in the Makefile if it is not possible...

[2020-09-21 20:20] dridk commented on #137
Command module contains the interface between VQL  and sqlite database.
Each command function, correspond to a VQL query.
For instance :

" SELECT chr, pos FROM variants " ===>  select_cmd()
"COUNT from variants" ===> count_cmd() "

execute(vql)  is a function to run a command from a vql query :

[code]

Let me adding documentation right now ! Sorry ... !

[2020-09-21 21:02] dridk commented on #137
By the way, they are all tested :

[code]

[2020-09-21 21:05] dridk commented on #138
I used black only ! Seems it doesn't remove breaking space !

[2020-09-21 21:09] dridk commented on #134
Automatic build of windows binary is avaible here :
https://ci.appveyor.com/project/dridk/cutevariant-1ex8i/build/artifacts

[2020-09-21 21:45] dridk commented on #133
if the user select many variant in the same time, a menu or a button is a better choice to flag selected variants

[2020-09-22 02:52] ysard commented on #136
Cool thx !

[2020-09-22 04:47] ysard commented on #137
Thank you !
Ok , it's execute and execute_all that are not tested (maybe not important?).

Note: be careful with auto-generated docstrings: "Description" value is just a default value... Linters will be probably ok with that but humans not :p

I see heavy code duplication here:
command.set_cmd vs sql.create_selection_from_sql
and
create_cmd vs sql.create_selection_from_sql

=> **I'm working on it.

[2020-09-22 08:16] dridk commented on #137
Counting variant from SQL may be time consumming. That's why I store count into sql table selections.
The parameter "count" must be used to avoid counting from sql.

[2020-09-22 13:07] dridk commented on #131
Default fields works here ! They are defined in state.py

[2020-09-22 13:15] #132 closed, assigned to dridk

[2020-09-22 15:51] ysard commented on #137
Ok

[2020-09-23 11:43] #137 closed, assigned to dridk

[2020-09-23 11:43] #134 closed, assigned to nobody

[2020-09-23 12:16] #127 closed, assigned to dridk

[2020-09-23 12:17] dridk commented on #125
I cannot read what is written in yellow ?

[2020-09-23 12:20] #100 closed, assigned to dridk

[2020-09-23 12:25] dridk commented on #114
@klva @ysard  Question :

Do we have to check empty columns first from the VCF file before importing into sqlite ? That's mean, read the entire file.
OR
Import everything and remove column after

[2020-09-23 12:27] #94 closed, assigned to nobody

[2020-09-23 12:28] #16 closed, assigned to nobody

[2020-09-23 12:28] #30 closed, assigned to dridk

[2020-09-23 12:29] #48 closed, assigned to nobody

[2020-09-23 12:29] #59 closed, assigned to nobody

[2020-09-23 12:30] #79 closed, assigned to nobody

[2020-09-23 12:31] dridk commented on #80
See https://github.com/moonso/genmod

[2020-09-23 19:07] dridk commented on #135
https://www.learnpyqt.com/courses/concurrent-execution/multithreading-pyqt-applications-qthreadpool/

[2020-09-24 00:41] ysard commented on #135
I will check this in a few moment. The priority is to fix most plugins (you know that there are many problems here !).
New functionalities like this should be on a separated branch.
We need to make the devel branch great again, i.e. an active dev branch ahead of master but free of obvious bugs as much as possible.

BTW: Async in Python should be done with asyncio. I have never tested it yet; but i

[2020-09-24 07:11] dridk commented on #135
Create issue for bug and assign me. I will fix it quickly. I already fixed some of them

[2020-09-24 15:28] dridk commented on #135
This feature is solved now with new SqlRunnable class . Here is how it works :

# Synchrone
[code]

#  Asynchrone equivalent
[code]

[2020-09-24 21:05] dridk commented on #124
I cannot fixed this without your pull request

[2020-09-24 22:37] dridk opened #139 "try breeze theme"
https://github.com/Alexhuszagh/BreezeStyleSheets

[2020-09-24 22:39] dridk commented on #139
with breeze font

https://github.com/KDE/breeze-icons

[2020-09-24 22:41] dridk commented on #139
and read this

https://hig.kde.org/

[2020-09-25 01:16] ysard opened #140 "filters_editor plugin: todo"
Problems to be solved:

- [x] Default item in combobox should inform that the user needs to add a filter "Add a filter by pressing '+' or modifying VQL and save it" or "please add a filter" or "current not saved filter:"
=> something like this. currently it is so hard to guess how to use it

- [x] Set a default incremental name on every new filter
(currently blank names)

- [x] When a user has sav

[2020-09-25 01:18] ysard opened #141 "Plugins doc"
We should think about writing a usage doc for all the plugins... You are dealing with biologists not geeks :p
In my upcoming changes i added a variable "__long_description__" to every plugins. It will be used to display a full help on demand.

Can you initialize a *frama thing* to start writing some help ?
In french for a better starting.

- [x] fields_editor
- [x] variant_view
- [x] vql_editor
-

[2020-09-25 07:04] dridk commented on #124
id will be hidden from the view, not from the data

[2020-09-25 07:11] dridk commented on #141
I did a VQL doc here
https://github.com/labsquare/cutevariant/wiki/VQL-language

[2020-09-25 07:16] dridk commented on #140
for vql doc https://github.com/labsquare/cutevariant/wiki/VQL-language

Actually the only way to create a selection is from vql. I don't know where to put the button for that.

[2020-09-25 09:01] dridk opened #142 "set/get QSettings of a plugin"
Actually, to write/read settings from a plugin, we must explicitly point to the right path :

[code]

It would be easier to have methods on differents BasePluginsWidgets .
I suggest to create an instance of QSettings which point to the right path at construction time
For instance :

[code]

[2020-09-25 15:51] dridk commented on #140
Cannot fix that without your pull request. Seems you move FilterDialog somewhere else.

[2020-09-25 16:28] dridk commented on #135
Some fixed requirements about pagination . But Asynchron is ready  !

[2020-09-25 18:56] ysard commented on #140
FieldDialog is removed from fields.py since it was the last thing that seems to be useful in this file (data was moved into plugin): ab75df5d738bc2002a3c342f2545ace8771e158f

[2020-09-25 19:57] ysard opened #143 "word_set plugin fail"
4 major issues here:

- [x] It is hard to know what is the purpose of this plugin...
Please write module docstring/ plugin description

https://github.com/labsquare/cutevariant/blob/236ac7caaf74aca29f2e4208ccadfa19674f1410/cutevariant/core/sql.py#L535-L543

- [x] Opening file from userland and insert it in DB **without any check** seems to be quite dangerous!!!
You are expecting 1 field per line ?

[2020-09-25 20:23] dridk commented on #143
thanks for your fixes !
Wordset is indended to be use in "IN SET" query.
For instance :

'''sql
Select chr from variants where gene in SET["myset"]
'''
This is a relevant feature inspired by 'Set' from snpsift
https://pcingola.github.io/SnpEff/ss_filter/

Actually, the GUI is not cover by unit test. I will do my best. By the way, I think test unit for plugin should be inside the corresponding plug

[2020-09-26 01:04] ysard opened #144 "plugin source_editor: fully broken"
- [x] Plugin was broken since the refactoring: sql connection was not updated and Bed file import was broken
=> see a6d98d6bac90ca2710f1507f78f69254aba5d98b

- [x] Selection class is is no longer available in the module `sql`
https://github.com/labsquare/cutevariant/blob/2a0ea9c2379a9fc9422278c4901961a5f04e440a/cutevariant/gui/plugins/source_editor/widgets.py#L346-L383

It's such a shame to have w

[2020-09-26 02:43] ysard commented on #130
Response to comment on 5119caed53046722060b869cdae7b0496065a024

There is 2 ways to achieve this:
- Store the default positions of widgets/docks
https://stackoverflow.com/questions/16587433/bring-the-dockable-widgets-to-its-default-position-in-qt
And restore them on demand.
The problem is that we can add/remove/rename the plugins and it should generate some problems if
geometry/states are not vers

[2020-09-26 03:54] ysard commented on #144
Note: I can't merge for now, new SQL threading seems to be in testing on devel. I prefer to stabilize the devel branch without new feature....

[2020-09-26 04:27] dridk commented on #144
Selection class has been replaced by functions. So, sql module contains only pure function which sounds better.

I agree to avoid saving an empty selection. Lets add a message as you said

About naming, a simple QInputDialog can ask the name of the selection. Using bedfile name doesn't allow to make different bed intersection using the same bed file.

I guess it should be possible to make all of t

[2020-09-26 12:36] ysard commented on #144
- Different intersections with same bed ? Is there any constraint in the name of a selection, or is it just a matter of user confusion with multiple selections with the same name ?

- Ok for set op, =>** I will try to fix this one as soon as possible**

- Ok, for async features in separated branch (didn't see sorry)

[2020-09-26 17:48] dridk commented on #144
For instance:

Create A from variants where...
Create B from variants where ...

Create A2 from A Intersect "my.bed"
Create B2 from B intersect "my.bed"

Selection name must be unique. Here we have 4 selections A,B,A2 and B2.

[2020-09-27 00:08] ysard commented on #135
Are you really 100% sure of what you are doing ? (No offense here!)
I'm really surprised by a straightforward implementation based on a single connection shared across multiple threads.
Maybe your are playing with fire here :p

- The documentation strongly forbids this implementation:

https://docs.python.org/3.7/library/sqlite3.html#multithreading

- Even if your code doesn't raise any runtime ex

[2020-09-27 00:41] ysard commented on #124
Ok thx, i close this now

[2020-09-27 00:41] #124 closed, assigned to dridk

[2020-09-27 00:43] ysard commented on #122
@dridk : As a reminder: I think you can push a new version of the package on master on pypi.
Functionalities are not tested but the installation process is fixed for sure...

[2020-09-27 00:43] #120 closed, assigned to ysard

[2020-09-27 00:45] ysard commented on #119
Fixed for my shell, please reopen if any issue anywhere...

[2020-09-27 00:45] #119 closed, assigned to ysard

[2020-09-27 02:21] ysard commented on #118
Hum it could be a nice evolution, but maybe too optimist for now.

[2020-09-27 02:35] ysard commented on #131
Ok, can we think about a set of pre-defined and useful fields other than the current ones ?

Also, a plugin/part of plugin to save these display settings...

[2020-09-27 03:10] ysard commented on #144
Ok,

[code]
Constraint is here, but in GUI

I'm working on the first part of the issue

[2020-09-27 03:13] ysard opened #145 "Edit menu"
I think it should be moved into the popup menu over a variant in variant_view.

A user directly understand what is the purpose of copy/select all here.
In main window its confusing.

Also:
- [x] Doesn't work without error showed to user if UI is grouped => working on it
- [x] Copy issue
https://github.com/labsquare/cutevariant/blob/74b2784ae5a0a9d1f45910ad67e009bc9c548a29/cutevariant/gui/plugins/v

[2020-09-27 09:00] dridk commented on #135
yes I know ! If you check the code carefully, you will see I am not sharing the same connection. I create a new one from the filename.
https://github.com/labsquare/cutevariant/blob/9a36f56d34c52bf31bf6cf63db919b7bf9773a28/cutevariant/gui/sql_thread.py#L21

So, I hope reading a sqlite file from 2 differents connection do not create race condition.

[2020-09-27 14:48] ysard commented on #135
Ok!
- 1 new connection per thread is OK
- SQLite is not made for concurrent access but for our use cases (not 10 simultaneous users) it will be ok
- Maybe a decorator to transform sync functions to async will be perfect

[2020-09-27 14:58] ysard commented on #114
Validation of data is mandatory before database insertion.
But:
- We can't read 2 times the given file
- We will not modify the standard DB structure because of some empty fields
- Reconstruct DB file after the creation is time consuming
- Deletion of 1 empty field in DB is quite useless (probably no gain of space, and no gain of performance)

Maybe we could launch, after project creation, some ro

[2020-09-27 15:02] ysard commented on #138
Ça reste conforme aux PEP, black ne fait pas de correction d'ordre orthographique dans les docstrings et commentaires, n'empêche que c'est dégueulasse quel que soit le langage :p
Pourquoi ton IDE fait-il ça :crying_cat_face:

[2020-09-27 15:24] ysard commented on #125
It's unused imports.

Il y a une multitude de choses à répondre, qui démontrent que ça ne tient ni à moyen terme pour du travail personnel, ni à très court terme pour du travail en groupe.

Un petit nettoyage avant de commiter, une petite doc en s'assurant que les types manipulés soient documentés au moment de commiter une fonction ça prend 10 secondes car on est dans le truc. 3 jours après ça pre

[2020-09-27 15:55] dridk commented on #138
je pense que c'est parce que je jongle entre linux chez moi et windows au
travail

Le dim. 27 sept. 2020 à 17:02, ysard <notifications@github.com> a écrit :

[2020-09-28 01:13] ysard commented on #144
Should be fixed now; To be tested... and reopened...

[2020-09-28 01:13] #144 closed, assigned to nobody

[2020-09-28 13:25] dridk commented on #145
Ok, to move Edit action to the variant_view context menu . Or maybe, we can keep both ?
Yes, copy past to excel is a good features for biologist .
You assigned me on this request but you write "working on it" .

[2020-09-28 13:29] dridk commented on #140
What about creating a dialog to add new filter ?

[2020-09-28 13:40] #135 closed, assigned to dridk

[2020-09-28 14:51] dridk opened #146 "Arguments for Merging annotations and variants tables"

[2020-09-28 15:07] #146 closed, assigned to nobody

[2020-09-28 17:28] ysard commented on #145
Ok both will be kept for now :p
Desassigned :p

[2020-09-28 21:35] dridk commented on #104
gnu octave

![800px-Octave-v3.8.2-gui-fr.png](https://user-images.githubusercontent.com/1911063/94488653-47e00600-01e3-11eb-8eea-ce2a6358439c.png)

[2020-09-28 23:30] ysard commented on #146
C'est un concours ?

J'ai gagné ?

---

Évitons la désinformation sur la dé-normalisation des bases.

http://letmegooglethat.com/?q=SQL+join+costs

https://www.quora.com/How-evil-is-SQL-Join

https://stackoverflow.com/questions/5773611/how-costly-are-joins-in-sql-and-or-whats-the-trade-off-between-performance-an

NORMALIZE - thats what the database engines are tuned for.

Faut-il des chiffres ?
ht

[2020-09-29 07:26] dridk commented on #146
Après, moi je trouve autant de liens qui disent le contraire . En particulier avec sqlite. Car je vois ça comme un equilibre entre performance et espace.   Une base dénormalisé sera bcp plus rapide.

Mais bon, tu as raison sinon ! On va pas tout changer. Et tt façon, avec l'asynchrone, ca ne pose pas vraiment problème.
Faut juste voir si ca pose pas problème avec les sets sur des annotations.

[2020-09-29 15:57] #131 closed, assigned to dridk

[2020-09-29 16:20] dridk opened #147 "Cannot group by samples"
when sample fields is here, it is not possible to use group by .

`SELECT chr, pos , sample["boby"].gt GROUP BY sample["boby"].gt` doesnt work

[2020-10-01 21:57] ysard opened #148 "auragen plugin: fail"
Filter type for chr field should be tied to Integer, not String.
=> because the filter uses REGEX operator (~) that doesn't allow to search on chr column (int)

Once `IntegerFilterWidget` is used, i have another errors that i can't fix (gui/widgets/filters.py is... not documented).
See : https://github.com/ysard/cutevariant/commit/8d1bd21ef13f9d54a96a2ff52edbd92e68b82d9f

Also, i will revert/fix t

[2020-10-02 00:30] ysard commented on #143
Now wordset can be created (note that insertion of gene.txt is still not secure).

**Clicking on a wordset does nothing.**

[2020-10-02 00:34] ysard commented on #140
Une boite de dialogue comme avant ? ça me semblait bien mais actuellement il suffit de propager les events de changement des combobox et d'avoir des noms distincts pour les filtres.

Je complète la todolist sur ce plugin au fur et à mesure. C'est un des plugins les plus importants et il ne fonctionne pas.

[2020-10-02 00:44] ysard commented on #147
Have we a sample file to test this ?
Variant_view has been refactored on my branch, maybe this issue is solved

[2020-10-02 00:53] ysard commented on #140
Filters are not saved in the project; they were saved as selection before...

[2020-10-02 01:35] ysard commented on #133
Multiple favorite marks should be fixed now

[2020-10-02 01:35] #133 closed, assigned to dridk

[2020-10-02 01:58] ysard opened #149 "ped parser in wrong place"
cutevariant/core/importer.py

`import_pedfile()` should be moved in a reader in `cutevariant/core/reader/`

[2020-10-02 02:56] ysard commented on #145
This should be fixed now in upcoming changes; See variant_widget related commits

[2020-10-02 02:56] #145 closed, assigned to ysard

[2020-10-02 03:04] ysard opened #150 "variant_view plugin: cross database links"
- This functionality is dead
- Can we provide example of urls pointing to databases of variants ? (I need examples)
- We should restore variant popup menu if these databases shortcuts

[2020-10-02 07:45] dridk commented on #149
reader/ folder was dedicated first for AbstractReader subclass only.
But yes, we have BedReader, we can have PedReader.
To select children from AbstractReader, we can loop over the folder and detect the type.

[2020-10-02 07:52] dridk commented on #150
varsome
https://varsome.com/variant/hg19/15%3A68500735%3AC%3AT

dbsnp
https://www.ncbi.nlm.nih.gov/snp/?term=NM_000237.3%3Ac.1421C%3EG+NG_013007.1%3Ag.7147G%3EA

google

genecards ( gene)
https://www.genecards.org/cgi-bin/carddisp.pl?gene=ACE2

IGV
https://software.broadinstitute.org/software/igv/ControlIGV

[2020-10-02 17:35] ysard opened #151 "poc files future"
Found tagbar.py and tagedit.py in `/gui/widgets`.
Can we move this to pocs ? They are not documented nor imported elsewhere.

[2020-10-02 18:26] ysard opened #152 "ped files"
- [x] ped file is always "imported" even if PED import is skipped (multiple .ped files created in /tmp/ and never deleted).
Import of PED file should not be systematic especially when no changes are made to the PEDView
=> let the basic process of importing samples work alone!

- [x] If we specify data in the SamplePage/PedView, there are errors:

![image](https://user-images.githubusercontent.com/

[2020-10-02 18:28] dridk commented on #151
yes, it can be move to the poc.
It was thinking to add this bar on the top of the variant_view with the VQL query.

[2020-10-02 18:39] dridk commented on #152
Pedigree is used to compute extra variant fields like case_heterozygous_count ( nombre de cas/temoin ou le variant est heterozygote)
So this is an important features similiar than SnpSift CaseControl.

fields are computed here:
https://github.com/labsquare/cutevariant/blob/d461416f0fa4b5862f8f44ffd435c71cae3cf56c/cutevariant/core/reader/abstractreader.py#L311

https://pcingola.github.io/SnpEff/
ss

[2020-10-02 18:46] ysard commented on #151
Ok, for a future pure graphical improvement

[2020-10-03 00:06] ysard commented on #150
Problem for your varsome example:
chr15-68500735-C-T

How can i deduce the HGVS notation:
c.679G>A

Is 679 the position ? But what is 68500735 in this case ?

Also HGVS notation includes deletion/insertion/duplication, etc.
https://www.hgvs.org/mutnomen/recs.html

Complex cases to implement in a context menu...

[edit]:
HGVS notations are in annotations table; is it worth to query this table durin

[2020-10-03 02:20] ysard opened #153 "variant_view plugin: favorites and transcripts bug"
- When a variant has multiple transcripts (at least one annotation field is displayed)
- When we mark 1 transcript as favorite
- Only the current transcript is marked
- If we refresh the UI, all transcripts are also marked (it is expected)

=> All transcripts of a variant have to be refreshed or the UI should be

[2020-10-03 10:48] dridk commented on #150
many way to identify a mutation:

- genomic location
relatif to human genom reference. The first position correspond to the top of the short arm chromosome.
(hg19)g.chr3:444553A>C

- coding location
relatif to the gene transcript. The first position correspond to the "A" from the first coding codon "ATG"
(NM_xxxx)c.23A>C
this is stores into hgvc_c annotations tables if it is avaible.

- snp id
usi

[2020-10-03 17:12] ysard commented on #150
Okey;

About: hgvc_c annotations, i have no NM_xxxx ids; and the ncbi requires this reference sequence...
Maybe real annotated files haven't this issue...

For now, menus are activated according to the columns that are displayed. No exceeding queries.

[2020-10-03 23:28] ysard commented on #152
J'ai un problème d'unicité ici:
https://github.com/labsquare/cutevariant/blob/d461416f0fa4b5862f8f44ffd435c71cae3cf56c/cutevariant/core/importer.py#L165-L167

Je déduis qu'un sample est censé être référencé avec le couple (family_id, individual_id) d'après la doc (https://www.cog-genomics.org/plink/1.9/formats#fam).

N'est-il pas risqué de n'utiliser que l'individual_id (colonne name chez nous) ?

[2020-10-04 11:07] dridk commented on #152
Les identifiants d'individu d'un fichier ped correspondent au "samples" du fichier VCF qui sont censé être unique.
Du coup, il faudrait juste verifier que les identifiant sont unique. Ca résoudrait le problème .
En pratique on se sert rarement de la famille.  Mais ca peut être utile pour des analyses ulterieurs.

[2020-10-04 14:01] ysard commented on #152
Ok c'est le point important. Si les fichiers sont couplés, il n'y a pas d'opposition à contraindre l'unicité des couples family_id, individual_id. Ne pas le faire serait prendre un risque d'avoir des erreurs.

Je trouve des docs plus catégoriques sur ce fait:
https://www.well.ox.ac.uk/~cfreeman/software/gwas/gtool.html

J'ajouterai la détection de doublons quand même car on ne peut être à l’abri d

[2020-10-04 15:34] dridk commented on #152
dans les vrai fichiers, c'est principalement des identifiants anonyme. en
tout cas a lhopital .

Le dim. 4 oct. 2020 à 16:01, ysard <notifications@github.com> a écrit :

[2020-10-04 15:50] dridk commented on #152
@ysard pourquoi tu commit pas direct sur mon Dev ? Y a rien à craindre, elle est pas en prod

[2020-10-04 16:16] #153 closed, assigned to dridk

[2020-10-04 16:20] dridk commented on #148
Depending on VCF , chromosom can be write as "chr3"  or  "3" . Other Species should have a name instead.
I think we should keep only one format and convert the other. For instance : 3 ==> chr3  during vcf parsing.
Actually auragen plugin should move to POC folders .  The goal of this plugin is to create a new filter plugins with advanced controller compared to the standard filter plugin

[2020-10-04 17:31] ysard commented on #152
Si tout le monde a le même id d'anonymisation c'est bon.

@dridk: J'attends que mes modifications soient stables; mais présentement je n'ai pas revu le contenu du merge SQL threading: Y'a des trucs bizarres genre la classe SqlRunnable dupliquée dans 2 fichiers sql_runnable.py et sql_thread.py

[2020-10-04 17:35] dridk commented on #152
Sql_thread.py est a jeté .. .C'est sql_runnable

[2020-10-04 17:42] ysard commented on #148
:o yes chr is a string in DB! My mistake!
I will restore String field in Auragen filter. But this field filter is still not functional.

Maybe we should convert it to int, its not logical to have such a field in this type.
Searches/indexation in Database will also be quicker with type int.

Checks/sanitize can be made here:
cutevariant/core/reader/vcfreader.py:144

[Edit]: int for chr col is a stu

[2020-10-04 23:04] dridk commented on #121
just try to open a project from windows.
Application doesn't start. It says :metdatas is not found".

If last project doesn't open, catch the exception and show the application .

[2020-10-04 23:06] dridk opened #154 "read samples from large vcf"
If you start a new project, it takes some time and freeze the ui just to display samples name in the pedigree view...

Need to investigate why !

[2020-10-04 23:09] dridk opened #155 "prepare the release"
- [x] release to master
- [x] release to pip
- [x] create a gh-page
- [x] add issues to mendel milestone
- [x] autorelease windows binary from appveyor

[2020-10-04 23:14] #151 closed, assigned to nobody

[2020-10-04 23:15] dridk commented on #112
this is solved with sql_runner

[2020-10-04 23:15] #112 closed, assigned to nobody

[2020-10-04 23:19] dridk opened #156 "# GUI test unit"
we must create unit test for the gui.
The core is covered but not the gui.

I suggest to test each plugin inside the plugin folder.
other component should be tested from the default tests folders.

[2020-10-04 23:33] dridk opened #157 "[ importWizard] progress bar is still wrong"
When importing a huge vcf, progress bar is wrong. Importing continue after 100%.   You can test it with a full genome

ftp:/­/­ftp.­1000genomes.­ebi.­ac.­uk/­vol1/­ftp/­data_collections/­1000_genomes_project/­release/­20190312_biallelic_SNV_and_INDEL/­ALL.­chr17.­shapeit2_integrated_snvindels_v2a_27022019.­GRCh38.­phased.­vcf.­gz

VCFReader must return a good estimation of the total variant.

It m

[2020-10-04 23:41] dridk opened #158 "[ variant_info] error when no annotation"
variant_info raise error with raw vcf without annotation. nothing appear in genotype..

Please load data if available and catch the exception.

[2020-10-05 02:48] ysard commented on #158
Yes, broken...
In fact what is the purpose to retrieve annotations and samples from `get_one_variant` ?
This seems not used and this is why the exception is raised...

[2020-10-05 03:05] ysard opened #159 "[variant_view] Async focus loss of page box"
- [x] Number of pages field loose focus when a query is loading
=> if you try to enter 1000, there will be 4 focus loss...

- [x] The widget is a "combobox": We should use a LineEdit instead

[2020-10-05 09:00] dridk commented on #158
I want to display all relevant information of a variant when selected one

[2020-10-05 18:16] ysard commented on #122
I reopen this issue, the config file is still not OK.

Due to c28cd04449d761607bc374b8e5678b0024208512

The omission of 5.12 is totally justified because of:
- https://bugreports.qt.io/browse/PYSIDE-883
- https://bugreports.qt.io/browse/PYSIDE-893

The use of 5.14+ is not justified because it is used only for the MarkDown editor and it CAN'T be easyly installed on "old" systems.

Moreover, there i

[2020-10-05 21:44] dridk commented on #122
Why it is not easy to install PySide5.14 in old system ? cutevariant is
installed from pypi. I don't see any problem ?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-

[2020-10-06 01:55] ysard commented on #158
As long as the right column is not selected in fields, i think a user has no use of it:
Only if column is displayed => data can be selected.

Ex: We do not copy all data related to a variant (annotation/sample) in clipboard.

[2020-10-06 02:49] ysard commented on #149
See https://github.com/ysard/cutevariant/tree/ped_refactor

[2020-10-06 02:49] #149 closed, assigned to ysard

[2020-10-06 02:49] ysard commented on #130
Fixed and stable now

[2020-10-06 02:49] #130 closed, assigned to ysard

[2020-10-06 02:50] #159 closed, assigned to ysard

[2020-10-06 02:52] ysard commented on #150
Close for now 3 menus are dynamically available; it's sufficient for now.

[2020-10-06 02:52] #150 closed, assigned to ysard

[2020-10-06 02:56] ysard commented on #121
Fixed in my branch and in last merge.

[2020-10-06 02:56] #121 closed, assigned to dridk

[2020-10-06 03:35] ysard opened #160 "[plugin:auragen_filter] Fail #2"
New error:

[code]

See the "SQL" function here: `REGEXP`

As it is explained here:
https://stackoverflow.com/questions/5071601/how-do-i-use-regex-in-a-sqlite-query

System package sqlite3-pcre must be installed on the system, which is not/can be not the case by default:
`sudo apt-get install sqlite3-pcre`

Also, old systems haven't this package in their repo:
https://packages.debian.org/fr/stretc

[2020-10-06 03:36] ysard commented on #148
Ok reverted now 590eb577287664922c0f5a4d065d4c05b26b2cbf.

New error: See #160

[2020-10-06 03:39] #148 closed, assigned to dridk

[2020-10-06 10:53] dridk commented on #160
auragen plugin can be move in poc.
About Regexp, it works from python:

https://github.com/labsquare/cutevariant/blob/94aa44cfbbc3e6eb827e3cf3269ce2104cdf6c05/cutevariant/core/sql.py#L66

[2020-10-06 17:26] ysard opened #161 "[plugin:variant_view] Async bug; regression"
In dev branch, when a group is made, the first item is selected and thus the second pane is refreshed.

Since async, the selection of the first item is made before the receiving of the query result by the UI.
=> the second pane is not refreshed accordingly to the first pane data.

[2020-10-06 17:29] ysard opened #162 "[plugins: variant_info, variant_view] Tooltips for descriptions of fields"
Currently:
- [x] tooltips on variant_info, only on values => should be also on keys
- [x] tooltips on variant_view, contain... the value, not the description of the field.

Also:
- [x] Many typos should be fixed in the text of various descriptions (unclear sentences).

[2020-10-06 17:37] ysard commented on #160
=> Move to poc: Ok it will be made, but this plugin seems to be almost done.
It was developed for people who need it, isn' it ? It could be worth it to clean and finish it.

=> Yes it is implemented as a custom function, but the system lib is not installed by default or not available.
It **will** crash on the quasi totality of the systems.

[2020-10-06 17:49] klva commented on #160
I'm supposed to develop it, but I'm currently overwhelmed with other AURAGEN work. I should get to it soon™️ though. So it's ok to move it into poc. I will develop it on a separate branch with the auragen feature anyway and it might not be worth it to merge them into mainline (some features definitely not as i will disable some cutevariant features).

[2020-10-06 18:45] ysard commented on #160
@klva ; happy to see that the project is not forgotten; This binding for filter_editor is a quite nice feature.

BTW: I badly written the name of the issue; the REGEXP problem is more a filter problem than a bug of this plugin even if it is the default operator here.

Also about disabling features, since few commits, custom plugins can be enabled/disabled on the fly (without restarting) from the s

[2020-10-07 14:30] dridk opened #163 "make LOGGER easier"
Actually, to use the logger we have to import LOGGER, and create an instance :

[code]

Its really borring, that's why I don't use it too much.
I suggest to make in simple without instance requirement :

[code]

[2020-10-07 17:10] dridk commented on #147
See also this commit :
https://github.com/labsquare/cutevariant/commit/96b6b0a8a7f71b04d740a38513b009f56172473d

[2020-10-07 17:11] dridk commented on #147
Need some test for this feature  !

By the way, filter editor with sample field from VQL also work

[2020-10-07 18:16] ysard commented on #161
This commit ea95fedc464ff080e07fad75579159491427ac5e depends on this issue.

Grouping is currently broken in async version of Cutevariant.
You are not solving the pb with this commit :p

It is a nonsense to group variants and still have all of them in the right pane. The resolution of this issue will solve it.
Only the variants in the selected group should be displayed in the right pane.

[2020-10-07 19:06] ysard commented on #163
In my opinion logging is not so much used because when a loglevel is selected, it is applied to the full project.
Thus the ouput is quickly unreadable, especially when you are interested in a specific use case (SQL queries, plugins, GUI, etc.).
So the logs are disabled/commented when they no longer seem useful. I also do this and this is bad!

The problem is that i don't know for now, how to limit

[2020-10-07 22:08] dridk opened #164 "set light theme by defaut"
more user friendly for biologist

[2020-10-07 22:19] dridk opened #165 "external link should appear even if fields are not displayed"
From the context menu, external links like gene appears only if the the column is selected.
For instance, "genecards" is displayed only if gene is selected.

It may be better to make it visible even if the field "gene" is not selected.

we can load from the database field value to build the link .

[2020-10-07 22:24] dridk opened #166 "row color for favorite variant"
it may be good to displayed "favorite" information even if "isFavorite" field is not selected.
For instance, each favorite row can be draw with bold text or a background color.

[2020-10-07 22:55] dridk opened #167 "Create show console button"
On the main toolbar , create a show console button to add / display the vql editor

[2020-10-07 23:03] dridk opened #168 "Create save to selection button"
A button to save the current query to a selection.
This button correspond to the "CREATE" actions .

Where to put this button ?

- in variant_view ? ===> yes
- In mainwindow ? ===> no

[2020-10-07 23:09] dridk commented on #162
About variant_view, the tooltip should be on the header.
This can be done from VariantModel.headerData  ! Example here :
[code]

[2020-10-07 23:10] dridk commented on #161
I cannot reproduce the bug . Do you have a procedure ?

[2020-10-07 23:10] #160 closed, assigned to dridk

[2020-10-07 23:14] dridk commented on #152
Toujours une erreur qd on deroule Father_id / Mother_id...
A explorer

[2020-10-07 23:18] #164 closed, assigned to nobody

[2020-10-07 23:23] dridk commented on #139
tested.. But not good... !

[2020-10-07 23:23] #139 closed, assigned to nobody

[2020-10-07 23:25] dridk commented on #141
Do you want to add "WhatsThis" to all relevant button ?

[2020-10-07 23:32] #147 closed, assigned to dridk

[2020-10-07 23:35] #138 closed, assigned to nobody

[2020-10-07 23:36] dridk commented on #105
Or We may create a custom type from python :

https://docs.python.org/2.5/lib/node347.html

[2020-10-07 23:40] dridk commented on #101
Retro engineer this :
https://github.com/moonso/genmod

We should compute this score since we have now pedigree features.

[2020-10-07 23:42] dridk commented on #101
Acutally, those filters can be done with special fields. Even with more than 3 samples;
See documentation here : https://github.com/labsquare/cutevariant/wiki/VQL-language

Example:

Suppose we have a pedigree of 6 samples with 4 cases and 2 controls.
Select  mutations (heterozygous) which are in case but not in samples.

[code]

[2020-10-07 23:49] #98 closed, assigned to nobody

[2020-10-07 23:51] dridk commented on #80
Duplicated.  See #101

[2020-10-07 23:51] #80 closed, assigned to nobody

[2020-10-07 23:52] dridk commented on #96
Duplicated See #42

[2020-10-07 23:52] #96 closed, assigned to nobody

[2020-10-08 00:08] ysard commented on #162
Done for tooltips; Last thing to do: Fix typos an sentences of descriptions... I'm adding you @dridk

[2020-10-08 00:13] ysard commented on #167
I agree for this action, but i think it should be localized as before: in tool menu, not toolbar, with its action friends "show/hide" related to plugins.

[2020-10-08 00:35] ysard commented on #141
Its a big work, i'm starting to seriously run out of time for the rest of my stuff, but that's the idea.

The problem is that these tooltips will overload the code, they should be in separated files (especially for plugins) from which we import the variables.

In this case it seems difficult to translate them with Qt because we are outside QObject?

[2020-10-08 01:30] ysard commented on #161
Yes:
- Load Cutevariant
- Open project (test test.snpeff.vcf for ex)
- Click on group by, its chr by def
- left pane is opened with 1 group (all variants are for chr 11 => it's ok)
- click on FieldDialog, add "pos" to the checked fields
- now there are 11 groups on the left (logic, all positions are unique)
- but there are also 11 variants on the left.

Expected:
- the first item of the left pane

[2020-10-08 02:35] ysard commented on #166
Maybe also a shortcut or a pre-registered selection/filter to directly display favorites.

Honestly if a user unchecks the favorite field, it is because he doesn't use this information. It's like genes in context menu...
If you do not want to select genes, you... discard this field.

[2020-10-08 02:39] ysard commented on #168
It **was** on variant_view. But it should be also in filters_editor:
When you modify a VQL query filters are updated and here you may want to save them.

Moreover the save button on filters_editor doesn't work (for now).

[2020-10-08 02:41] ysard commented on #152
Rien modifié de mon côté concernant les PED c'est encore une branche séparée qui semble stable toutefois.

[edit]:
Après je ne comptais pas modifier le comportement du Wizard; il y a des choses à revoir de ce côté pour faire qqchose de propre mais je n'ai pas le temps.

[2020-10-08 02:47] ysard opened #169 "REGEXP operator"
From #160 , it was badly named

New error:

[code]

See the "SQL" function here: `REGEXP`

As it is explained here:
https://stackoverflow.com/questions/5071601/how-do-i-use-regex-in-a-sqlite-query

System package sqlite3-pcre must be installed on the system, which is not/can be not the case by default:
`sudo apt-get install sqlite3-pcre`

Also, old systems haven't this package in their repo:
https

[2020-10-08 08:52] dridk commented on #169
I am not sure it has anything to do with sqlite-pcre.
It is a python function post processing.
I am investigating your error

[2020-10-08 10:54] dridk commented on #140
So, Briefly for this plugin , we must show a field editor :
Field is a tuple of 3 elements  : the field_name, the operator and the field_value :

### Field_name :

a variant field name (str) :  chr, pos
an annotation field name (str) :  annotations.gene, gene
a sample field  (tuple) :  (sample,sacha,gt)

How to edit the last ?
- Convert the tuple to string  (sample,sacha,gt)  -->  sample['sacha'].

[2020-10-08 13:33] dridk commented on #169
It works on windows ! Without extension requirements :

![image](https://user-images.githubusercontent.com/1911063/95465543-91ff7f00-097b-11eb-828e-ba99fecd6e26.png)

[2020-10-08 15:40] #168 closed, assigned to dridk

[2020-10-08 16:26] #167 closed, assigned to dridk

[2020-10-08 17:36] dridk commented on #156
In progress...

I split test into two folders :   core and gui !

I m testing each plugins here .

[2020-10-08 19:08] ysard opened #170 "Wizard thread issue"
Thread is not stopped under certain conditions:

- Import a big file
- At the last step, during insertions:

- You can go back, and then click next. The thread is stopped when you click on next
- Back button should be disabled here, or the thread must be stopped when back is clicked (i prefer this one)!

- Also, if you click on X button to close the importer, the Import thread is still up
CloseEve

[2020-10-09 02:14] ysard commented on #152
Add some new errors found. I'm refactoring the code, you are making me CRAZY. pedigree.py is NOT documented I'm doing reverse engineering on a project that is few weeks old!

But...

Ex: 2 hours lost to explain why 2 ped files are systematically created when a Wizard is launched.
=> addPage method seems to explore properties in self.field and this is calling get_samples of PedView for nothing.

Ye

[2020-10-13 19:14] #161 closed, assigned to ysard

[2020-10-14 01:44] ysard commented on #154
This is due to the computation of the number of lines in VCF/VCF.gz files.
It's fixed in a glimpse now even in compressed files.

[2020-10-14 01:44] #154 closed, assigned to nobody

[2020-10-14 01:55] ysard commented on #157
Evaluation of the number of variants is now quite accurate.
There is an average of 5 seconds delay, needed to evaluate the number of variants in a 1.8GB VCF file with 3.8 million of variants, after about 20 minutes of insertion in database.

For much smaller files the delay is negligible.

Thus now we open the VCF file just 1 time, not between 4 to 6 times for nothing...

This issue is fixed now.

[2020-10-14 01:55] #157 closed, assigned to ysard

[2020-10-14 02:57] ysard commented on #162
Tried to fix few typos...

[2020-10-14 02:57] #162 closed, assigned to dridk, ysard

[2020-10-14 04:43] ysard commented on #143
I close this issue since the important work is done; but denormalization of this table to avoid one to many relationship will be a problem in the future...

[2020-10-14 04:43] #143 closed, assigned to dridk

[2020-10-14 07:47] dridk commented on #157
seriously ?? you fixed this ??  This is awesome  !

[2020-10-14 11:21] dridk opened #171 "Create a standalone page"
Based on https://github.com/tailwindtoolbox/Landing-Page
I started to create a landing page quickly .
![image](https://user-images.githubusercontent.com/1911063/95981490-01afb700-0e1f-11eb-9f98-672fe37a0412.png)

We should use the purple color theme made by @it-s  . I may ask him for help.

The color shema is avaible here :
https://github.com/labsquare/Poster/blob/master/JOBIM2019/poster2.svg

[2020-10-14 16:19] dridk commented on #155
I think we should merge on master and release a version on pip. Because the actual pip version doesn't work.

[2020-10-14 16:20] dridk commented on #122
@ysard are okay to merge on master and publish a new version on pupil?

[2020-10-14 16:22] #170 closed, assigned to dridk

[2020-10-14 16:46] dridk commented on #123
I reopen this issue because there are some problems to use 5.11 :

On Mac OS , it seems 5.11 doesn't work. I had an exception with Shiboken . After updated to 5.14 it works.
I get the same issue from @mlebeur , on ubuntu 20.  ( see bellow )

So, I think we must used 5.14 .  Pyside 5.11 is deprecated an must not be used . Confirmation by the PySide2 community.
New version of PySide doesn't add func

[2020-10-14 18:56] ysard opened #172 "Plugins status for stable release"
Here is the list of plugins, I check all plugins that are considered finished and **should no longer receive updates** (except minor fixes) **or new feature**s for the purpose of a stable release.

- [x] fields_editor
- [x] variant_view
- [x] vql_editor
- [x] filters_editor
- [x] source_editor
- [x] variant_info
- [x] word_set

[2020-10-14 21:18] dridk commented on #171
Good news ! Someone will help us to create this page !

Here is a new mokup I did :

![image](https://user-images.githubusercontent.com/1911063/96046241-744a8200-0e73-11eb-88e7-8229ca2419cd.png)

[2020-10-15 01:40] ysard commented on #93
done

[2020-10-15 01:40] #93 closed, assigned to nobody

[2020-10-15 01:44] ysard commented on #171
Hum I prefer the first version; the second is more rigid and the color is less cheerful.
Psychology and first impressions are important for a landing page.
Moreover, nice graphics/histogram are not available anymore; it would be better to not show them.

[2020-10-15 03:46] ysard commented on #157
Yes we do not require the exact number of variants. I read just the the first 15000 lines and i make an average of the bytes per line.
At this scale I don't even need to remove the headers.
This bytes average is used with the full size of the opened file to make an evaluation.
Full size is also present in the last 4 bytes of a gz compressed file => no need to uncompress it.

[2020-10-15 15:30] ysard commented on #123
Le problème ne vient pas de la version de pyside2 utilisée mais de la version de python: 3.8 en l’occurrence (cf https://bugreports.qt.io/browse/PYSIDE-1140).
Le setup.cfg spécifie que Cutevariant n'a pas été testé pour les versions supérieures à 3.7.

Du coup merci pour la remontée de bug, j'ajouterai des restrictions sur les versions respectives de Python et de PySide2.

Quand on package un logi

[2020-10-15 15:32] ysard commented on #122
See #123

[2020-10-15 15:32] #122 closed, assigned to dridk, ysard

[2020-10-15 16:25] dridk commented on #123
Ok ! Je suis convaincu ! C'est ok pour moi ! Ce week end j'aurais du temps
!

Le jeu. 15 oct. 2020 à 17:30, ysard <notifications@github.com> a écrit :

--
--
Dr Sacha Schutz
médecine / génétique moléculaire
Bioinformatique
dridk.me
www.labsquare.org
Fork me on github <https://github.com/>

[2020-10-15 17:19] ysard commented on #123
Je clos, la modif du setup.cfg est fonctionnelle (testée) sur Python3.8.
C.-à-d. que si qqn a une version de PySide2 < 5.14 en Python3.8, elle sera remplacée par la dernière disponible.

Pas testé sur MacOS. Parce-que.

[2020-10-16 03:11] ysard opened #173 "cli failures"
TL;DR: Nothing works, and I will end up in a nervous breakdown :rage:

- [x] --db argument is not functional
- [x] exec statements are not functional

- [x] What is the form of the data in group arg of exec statement ? Please put it in the example designed for this.

- [x] createdb statement is a failure:

In setup.cfg i see:

In the code i see:

    import progressbar
    for i in progressbar.pro

[2020-10-16 03:38] ysard commented on #173
EDIT: ok imports are fixed;

- [x] I let you fix exec statement.

- [ ] also, the progressbar displays the number of lines displayed: This is quite useless can you fix that ?

=> 1141 lines...

[2020-10-16 03:46] ysard commented on #173
VQL exceptions handling is crap:
[code]

- [x] Can you implement magic mathod `__str__` or `__repr__` in such to avoid this bash/R/Perl/JS like lines ?
 (See VQLSyntaxError in ./cutevariant/core/vql.py).
Moreover exceptions should be logged with... a logger. Thus, using `__repr__` will allow to just use `LOGGER.critical(my_exception)`
and also have a nice output.

[2020-10-17 05:16] ysard opened #174 "VQL problems"
- [x] About SET and word sets

In the doc:

This will not work because we expect in the program the following syntax:

Error:

    File "/media/DATA/Projets/cutevariant/cutevariant/cutevariant/gui/plugins/vql_editor/widgets.py", line 208, in run_vql
        command.create_command_from_obj(self.conn, cmd)()
    File "/media/DATA/Projets/cutevariant/cutevariant/cutevariant/core/command.py", line 370

[2020-10-17 05:30] ysard opened #175 "Async in metrics"
I tried SqlRunnable for the metrics plugin here:

https://github.com/ysard/cutevariant/blob/metrics/cutevariant/gui/plugins/metrics/dialogs.py

But i didn't succeed to not have a freeze of the interface (for big files ~1.8Go).
The async implementation doesn't provide the expected responsiveness of the interface.

Do you now why ?

Here is the execution flow:

- mainwindow: dialog = dialog_class(co

[2020-10-17 10:00] dridk commented on #175
Probably because dialog.exec_() start a new event loop.
What if the sql thread start after dialog.exec_() ?
Or you can try with show instead exec ?

[2020-10-17 15:20] ysard commented on #175
- show() didn't show the QDialog at all; even by overriding show() and explicitly call parent func with `super().show()` Nothing is displayed. Don't know why...
- Also tried to override the showEvent: same behavior:
[code]
The end of the show event is reached when the thread itself has finished its job.

- Tried with a singleshot timer:
[code]
Here i obtain only the edge of the window before obtai

[2020-10-17 20:04] ysard opened #176 "Nice but cumbersome loading movie..."
![image](https://user-images.githubusercontent.com/14988285/96352476-af42f480-10c3-11eb-9f99-aee00dbb0ab5.png)

And 90% of 1 CPU when it is in background (3,4Ghz CPU...)

- Yes it is designed to be displayed few seconds for each query;
- But when a filter is edited, this animations is still displayed as long as the filter is not correct;
- This app could be used in a mutualized computer; CPU resou

[2020-10-17 22:01] klva commented on #176
Maybe just display a "Loading..." in the middle of the disabled table ?

[2020-10-18 07:59] dridk commented on #176
Ok ! Lets add a simple text message with "Loading..." and make disable the table

[2020-10-18 12:47] dridk commented on #175
I fixed it . But I have no idea how to show my change from github . Don't want to fork your fork .  So i put the diff here .

You create the pool locally and it has been destroyed at the end of the function.
You must use the : QThreadPool.globalInstance().start(self.metrics_runnable)

[code]

[2020-10-20 10:59] dridk opened #177 "Last page doesn't show"
Seems last page doesn't show.
I notify this bug because I was not able to see gene starting with "V" or "Z"...

[2020-10-20 12:15] #177 closed, assigned to dridk

[2020-10-20 12:16] #176 closed, assigned to dridk

[2020-10-20 13:36] dridk commented on #123
@ysard  Could you fix the travis ?
https://travis-ci.org/github/labsquare/cutevariant/builds/737402159

I get the follwing error :

[code]

[2020-10-20 16:19] ysard commented on #175
Thank you, I think I would have taken a long time to find the nuance of global instance or I would not have found it.

I will add it to my branch for this time.

About git, it's like preparing a PR on a repository.

[code]

[2020-10-21 04:28] #175 closed, assigned to nobody

[2020-10-21 04:31] ysard commented on #176
I don't know why Qt is not efficient here. In a past project I partially fixed the problem by reducing a lot the size of the gif in pixels.

[2020-10-21 17:57] ysard opened #178 "[CEP] (Cutevariant Enhancement Proposal): filters: how to save them?"
If we assume that the filters should be saved (I think they should be saved) because it is frustrating to have to redo a job every time you launch the soft), we have to decide how to do it.

And yes, it is a feature for the next release...

Several ideas with their pros and cons:

- Filters are stored in the project:
Integrate a new SQL table with either the whole query or a cleaner one:
the conte

[2020-10-21 18:37] dridk commented on #178
What about storing the full vql somewhere?
It will store the filters and the column .

[2020-10-22 02:00] ysard commented on #123
The command that suit us is the same as in setup.cfg but quoted if you use it in shell:
`pip install 'PySide2>=5.11, !=5.12.0;python_version<"3.8"'`

There are spaces in such string, your ugly command in `install_deps` directive uses xargs.
The following command should be ok:

`...| xargs -0 pip install`
It indicates that the output from the pip is null terminated, not terminated by spaces or what

[2020-10-22 07:59] dridk commented on #123
Thanks! I will try !
By the way the "install_deps" is not from me. I don't know who did it.
About travis, your are true. After the release, we should use travis only for master branch.

[2020-10-23 00:05] ysard commented on #174
Tests are ok but not GUI and vice versa:

`IMPORT WORDSET "gene.txt" AS mygene`:
[code]

Fixed to wordset but test crashes:

`sqlite3.OperationalError: no such table: wordsets`

I will fix that.

[2020-10-23 00:06] ysard commented on #174
- [x] And doc is not updated with still "sets"...
- [x] Show command is not updated with and still use "sets"
- [x] VQL Doc of DROP clause is not updated

=> it's a partial update, not fixed at all...
=> Should be in a separated branch before first merge

EDIT: Sorry for the spam; but yes the confusion is legit. We always use plural form for SELECTIONS, FIELDS, SAMPLES etc. and now not for WORDSET

[2020-10-23 03:49] ysard commented on #174
Update about IN/NOT IN operators (see the problems above):

I tried to fix the problems of expected iterable for these operators.
I maid a crappy trick to convert comma separated values or tuples in string forms to Python Tuples:

https://github.com/ysard/cutevariant/blob/4c8ba91b35d578116085f490147f7a4a5a9f820c/cutevariant/gui/plugins/filters_editor/widgets.py#L169_L211

This works, but the quite

[2020-10-23 03:54] ysard commented on #152
I close this "casus belli" issue because this functionality is operational (It works™).

- However my last comment on a keyed output instead of a list is still valid.
- Likewise for the name vs individual_id confusion is still present even if all the other fields are henceforth compliant with the PLINK standard;

[2020-10-23 03:54] #152 closed, assigned to dridk

[2020-10-23 04:07] ysard opened #179 "variant_view: Not expected CPU consumption"
Maybe related to #176, but not sure.

There is still 8% of permanent CPU consumption due to this plugin.
I have turned off all the plugins and when this one is loaded the CPU usage is here.

My sql_runnable_merge has the problem, my dev branch hasn't.
So this is not normal.
My dev branch is a quite old but located juste before the addition of SqlRunnable related changes...

[edit] I tried to trace

[2020-10-23 06:19] ysard commented on #141
Done; see last commits in https://github.com/ysard/cutevariant/tree/doc

If someone modifies these docs, PLEASE make sure to update the translations (`make translations`).

[2020-10-23 06:19] #141 closed, assigned to nobody

[2020-10-23 07:02] dridk commented on #179
Does it happen only when loading new variants ?

[2020-10-23 12:14] dridk commented on #174
After a long time of reflexion......

## Relation between VQL, Python and SQL
First, I would share an illustration showing how VQL / PythonObject / SQL are related..
Actually, the code requires some refactoring to accord with the following shema. I will create an issue .

![image](https://user-images.githubusercontent.com/1911063/97000127-965c9800-1536-11eb-95fe-d7c37d6d81c3.png)

## About filters

[2020-10-23 12:21] dridk opened #180 "refactor VQL/PYTHON/SQL function"
![image](https://user-images.githubusercontent.com/1911063/97002738-b1c9a200-153a-11eb-8f32-5425c0acb787.png)

We should refactor a little to keep according with the representation above . For instance some renaming can be done

### Naming
- from_vql  is already avaible  and it is called "parse_vql"
https://github.com/labsquare/cutevariant/blob/69cbf27220991d8f0311345411cd8d3efb2895a3/cutevariant/

[2020-10-23 15:45] ysard commented on #179
No I simulate fake data with no SQL query and no thread pool:
total = 0
variants = []

So a blank "interface" with just the buttons and a blank view still present the problem even with basic Formatter.

Paint events are known to be CPU consuming but we don't use them very much...

[2020-10-23 16:06] dridk commented on #179
Seems there is a refresh somewhere... or a timer...
Try to remove the setItemDelegate()...

[2020-10-24 00:21] ysard commented on #179
Trouvé, petit coquin tu m'as laissé un QMovie caché dans VariantView...

https://github.com/labsquare/cutevariant/blob/69cbf27220991d8f0311345411cd8d3efb2895a3/cutevariant/gui/plugins/variant_view/widgets.py#L527-L530

Décidément cette méthode pour charger des Gifs est mauvaise et ce n'est pas un problème récent:
Déjà en 2002:
https://bugzilla.redhat.com/show_bug.cgi?id=61928
2010:
https://bugrepo

[2020-10-24 00:21] #179 closed, assigned to nobody

[2020-10-24 02:37] ysard commented on #173
Done, except the correct % in progressbar. Can't seem to be better in our situation.

[2020-10-24 02:37] #173 closed, assigned to dridk

[2020-10-26 07:33] ysard commented on #174
Ok thx for the examples, I understand the structure better, I review my work...

[2020-10-26 10:42] ysard commented on #174
I understand why VQL => SQL needs a tuple `(WORDSET, 'name')` but not why SQL => VQL needs to display this tuple.

GUI: enter WORDSET['xxx'], VQL conversion : (WORDSET, 'xxx'), go back to GUI: It is not "to_vql() func" that is used but Python objects in filters dict, so it's (WORDSET, 'xxx') that is showed in the GUI...

[2020-10-28 00:53] ysard commented on #169
Yes you only tested on str type fields and I only tested on numeric type fields.
Together we cover all possibilities ...

There are 2 errors here:
- Me who thought that it was necessary to use an external module
- The implementation which wrongly expects a str type

The external module I mentioned probably allows a big performance gain in comparison with the lambda that we implement in Python.

Mo

[2020-10-28 00:54] #169 closed, assigned to nobody

[2020-10-28 05:22] ysard commented on #174
WORDSET function is a pain to handle in filter field...
EDIT: its possible (we already do this for sample fields in VQL) but it's a pain...

We must show WORDSET['xxx'] but keep (WORDSET, 'xxx') internally.
Its a puzzle between UserRole and EditRole. Much overhead here.

Why not have used an operator complementary to the IN? "IN WORDSET" operator.
Because this feature can only be used with IN if I

[2020-10-28 05:45] ysard commented on #140
For now it's ok, the auto-completion is useful and i think we must let the user select this.
The question is also valid for WORDSET['xxx'] syntax. But here we haven't auto-completion.
I'm currently going on the implementation of a special operator (only for the ui for now): IN WORDSET.

Yes, masking operators is an idea; The FieldFactory (which is repaired but not used for now) could be used for t

[2020-10-28 07:57] ysard commented on #123
I will add it in next commits; I close, and yes it the directive comes from Aluriak for a quite obscure reason now.

[2020-10-28 07:57] #123 closed, assigned to ysard

[2020-10-28 08:01] #126 closed, assigned to nobody

[2020-10-28 08:40] dridk commented on #174
that what I plan . Use "IN wordset" as Operator in editor.

Envoyé depuis ProtonMail mobile

-------- Message d'origine --------
Le 28 oct. 2020 à 06:22, ysard a écrit :

[2020-10-28 19:54] ysard commented on #174
Workaround is here, quite clean, after a "night" of sleep.

It works for StrField and IterableField as a fallback. But it's ugly via a regex to make a cast from WORDSET["xx"] syntax to tuple syntax.

But yes in the future it will be much better to have a separated operator; for us and for users who will only have to enter the name of the wordset without worrying about heavy syntax.

- Commits are

[2020-10-28 20:57] ysard commented on #180
build_query is renamed to build_sql_query.

build_complete_query should be renamed build_full_sql_query... Moreover it should be used instead of build_sql_query because it wraps the query of samples and tables of the database and avoids useless code duplication. We also need some caching methods here.

The "query" term in build* functions is important because we need to now that we are not buildin

[2020-10-28 21:18] ysard commented on #140
I reproduce the question of the topic here, because it's one of the last issues to be resolved before closing this thread:
Can someone give a set of filters used in routine that I can integrate by default into the software?

I think it's a mistake to think that users will make their own filters especially if they don't have pre-designed examples in front of them.

[2020-10-28 22:11] dridk commented on #140
Where impact = 'HiGH'

[2020-10-29 03:10] ysard commented on #140
Done. We can move this issue to the next release. It's done for Mendel.

[2020-10-29 03:21] ysard opened #181 "O'Neill"
Release following Mendel

- objectives to be defined
- Maybe find a new name

[2020-10-29 03:22] #181 closed, assigned to nobody

[2020-10-29 03:24] #180 closed, assigned to nobody

[2020-10-29 03:27] ysard commented on #172
Done. Finally...

[2020-10-29 03:27] #172 closed, assigned to nobody

[2020-10-29 03:36] ysard commented on #178
Functionality added in 46c1329 + 35ead88:
- When a filter is saved, I mean the entire current VQL query.
- When a filter is loaded, I mean the filter part of a saved VQL query is loaded.

Saving VQL will allow us to do other things later with it.

- Save user filter in app settings
- Load predefined filters from filters.json embedded in filter plugin

It's quickly implemented but it works.

Export

[2020-10-29 03:40] ysard commented on #158
Current state is a dup of #165

[2020-10-29 03:40] #158 closed, assigned to dridk

[2020-10-29 03:42] ysard commented on #155
Ok there are 2 days to test the app and find the last bugs.

If the schedule is respected, on the 30th you will be able to merge on master and I will be able to "shut down the computer and resume normal activity/life/whatever".

[2020-10-29 04:04] ysard commented on #43
Not evolving since 1 year and a half.
![img](https://media.tenor.com/images/b7795b796da4711ce70de48c18cdec6e/tenor.gif)

[2020-10-29 04:04] #43 closed, assigned to dridk, ysard

[2020-10-29 04:06] ysard commented on #125
Done; until next time.
![shame](https://media.tenor.com/images/b7795b796da4711ce70de48c18cdec6e/tenor.gif)

[2020-10-29 04:06] #125 closed, assigned to nobody

[2020-10-29 04:08] ysard commented on #21
Code has been removed in devel.
Deprecated issue. I close.

[2020-10-29 04:08] #21 closed, assigned to nobody

[2020-10-29 04:23] ysard opened #182 "Types of fields"
In `sample_has_variant`:

- gt is of type str: All data here is ints; is it normal ?
- ad is of type int: But contain only floats (REAL in SQL);
- ad: idem
- gq: idem
- qss: idem

Can you review these types so I will fix them in parsers ?

[2020-10-29 13:45] dridk commented on #155
Thanks a lot !
I have a new stagiaire who is going to work on it !

[2020-10-29 20:45] ysard commented on #155
A trainee; hum I will write a set of contributing rules... :scream: :p

[2020-10-30 02:48] ysard commented on #182
After reading the VCF 4.2 spec, it appears that we take only the type from INFO headers:

But ! The Number field gives the number of expected elements of Type type.

- The good news is that we get typed values from the file.
- The bad news is that we have to deal with composite values...

So, from simple examples, to REAL pain in the ass:

[code]

When we put data in AD field of INTEGER type we pu

[2020-10-30 04:28] ysard opened #183 "How to manage phase genotype"
We expect only 4 values from gt field: -1, 0, 1, 2

According to the discussion/monologue in #182 , if I read correctly the doc of VCF, this field can be composite for multiple alleles with separators like | or / (I do not really understand the difference between phased and unphased genotypes defined by these characters BTW :( ).

I thought that it had to do with the heterozygous / homozygous defi

[2020-10-30 20:09] dridk commented on #183
During the VCF parsing, I split multi allele into many line. So:

- chr 2424 A T,C

become:

- chr 2424 A T
- chr 2424 A C

Human is diploid : Two chromosom of each type. So the following variant :

chr2424 A T

can be :
A / A => ( genotype = 0 / wild homozygous )
A / T => ( genotype = 1 / heterozygous )
T /T => ( genotype = 2 / muted homozygous )

In some case, you don't have the genotype. So it

[2020-10-31 05:19] ysard commented on #183
Ok thank you for the precision, it's clear for all the points now.
I had completely missed this part of VCFReader.

It is now documented and I fixed the default genotype icon; and added tooltips and description for this field.

I let it opened for this thing about phasing but feel free to close it.

[2020-10-31 05:58] ysard opened #184 "Pure psychologic cache"
We build a new SQL connection for each query since we create new SqlRunnable everytime.

https://github.com/labsquare/cutevariant/blob/1bcc9c15b96ff4b60863972d12029a9ae8ef1456/cutevariant/gui/plugins/variant_view/widgets.py#L281-L287

sql connection is part of the fields that are used as unique key for memoization.
Caching is useless here considering this arg changes everytime.

=> We should reuse

[2020-11-01 04:02] ysard commented on #184
Done, see 86daf6d comment

[2020-11-01 04:02] #184 closed, assigned to ysard

[2020-11-02 02:58] ysard commented on #155
Last set of commits for this release with important fixes (GUI bugs, refreshing of plugins, selection problems, cache improvements, filters errors, documentation, etc.)

After more than a month, more than 600 commits and more than 450 hours spent, I think the project is functional, again ...
Sorry for the mood swings, but I should have spent significantly less time on all of this.

I spent a lot o

[2020-11-02 09:09] dridk commented on #155
Thanks for all !! Its not a useless work !
I will start to write a paper right now with the release !

[2020-11-04 02:21] ysard opened #187 "Github pages / documentation"
Didn't know if I have rights but sphinx doc is now updated (for the Core part).

I completely rewrote it all.
On the other hand, we should avoid pushing the content of `docs/build/` onto the repository's classic branches.

I saw a "hack" with a `git subtree` but I do not understand well the use of GitHub pages. I guess you have to send everything to a branch named gh-pages but maybe it has been di

[2020-11-04 08:57] dridk commented on #187
oui.. j'hésitais à utiliser github ou directement readthedocs. Mais on peut remettre la gh-pages

[2020-11-04 18:20] ysard commented on #187
Via github ça oblige à suivre des fichiers générés; sur readthedocs la procédure d'envoi est plus simple (pas de "bidouilles" avec subtree) et on n'inclut pas le contenu de docs/build/html dans le dépôt ou dans une branche.
Je pense que les github pages sont plus adaptées à un site codé manuellement qu'à un site auto-généré.

[2020-11-05 10:38] dridk commented on #155
I release to master and pip !
I m confused with make full release .. So here what I did :

- git checkout devel
- make fullrelease
- git checkout master
- git merge devel

But I am not sure it's the good way. Because It auto tags and push ... !
I can give your pypi access if you want .

[2020-11-05 11:06] dridk commented on #155
So the good way is to merge into master first !

[2020-11-05 16:16] ysard commented on #155
Or release to devel with a name x.x.x.yyy.devx
and on master with a name x.x.x.rcx or x.x.x

Nevertheless, it's ok :+1:

[2020-11-05 16:16] #155 closed, assigned to nobody

[2020-11-05 19:55] dridk commented on #187
Je propose qu'on utilise mkdocs , que je peux hébérgé si besoin !
Par ailleurs, je parlais avec le dev de qutebrowser sur telegram/pyside ! On peut s'inspirer grave !
https://qutebrowser.org/
https://github.com/qutebrowser/qutebrowser

[2020-11-06 01:30] ysard opened #188 "About the naming/tagging of versions"
Problems here:
31388db
5ff56fe (dependent of the previous one)

PyPi supports the PEPs.
Please read 386 and 440: https://www.python.org/dev/peps/pep-0440/, https://www.python.org/dev/peps/pep-0386/

TL;DR (because these peps are informative but long to read #confinement...):
Python packages generally adhere to the version format major.minor[.patch][sub].
- The major number is 0 for initial, experi

[2020-11-06 01:43] ysard commented on #187
Ouais je me disais qu'il manquait dans la doc une section donations ou demande d'emploi (pas recrutement hein) :p

Fais comme tu veux RTD est commun mais moi j'héberge mes docs sur des serveurs tiers.
De toute façon ça ne coûte rien en bande passante, il faut juste générer les pages html et les envoyer en ssh/rsync (plus rapide).
La logique voudrait que tu mettes ça sur labsquare.org, nouveau doss

[2020-11-06 09:22] dridk commented on #188
Ok !
The problem was that 1.0.0b1 was before the 0.1.16 in version ordering . So 0.1.16 was the most recent version.  I was not able to install cutevariant with pip.
So, lets keep 0.2... until a stable version called 1.0.0.   Is it okay for you ?

[2020-11-06 09:48] dridk opened #189 "Replace travis / AppVeyor by github-ci"
using github-cli will be helpful. Avoiding to have different CI service .

[2020-11-06 10:02] dridk commented on #182
Yes, gt must be an integer..
About composite value, I though about creating many fields :

    SpliceAI = 3,2,5,6

become :

    SpiceAI_1 = 3
    SplceAI_2 = 2
    SpliceAI_3 = 5
    SpliceAI_4 = 6

Or, better solution, we can create a custom type :
https://docs.python.org/2.5/lib/node347.html

     SpliceAI = 3,2,5,6   ==>  tuple(3,2,5,6)

FROM VQL :

    SELECT spliceAI[0]  FROM variants

I pro

[2020-11-06 10:13] dridk commented on #182
## todo :

VcfReader.get_fields should returns :
[code]

VcfReader.get_variants should returns :
[code]

From columns selector :

- spliceAI [ ]
-- 0  [ ]
-- 1  [ ]

From VQL :

SELECT spliceai[0]  FROM variants WHERE spliceai[0] == 1   !   <===== NOT SURE IT IS POSSIBLE TO DO THE WHERE CLAUSE

[2020-11-06 10:23] dridk commented on #182
This is an example of spliceAI output :

https://github.com/Illumina/SpliceAI/blob/master/examples/output.vcf

As you can see.. here Number = "." ...  and value are separated by "|"

[code]

[2020-11-06 13:02] dridk opened #190 "VQL improvement"
Some possible improvement:

Look over this projects to get inspired:

 [gemini](https://gemini.readthedocs.io/en/latest/content/querying.html)  / [SnpSift](https://pcingola.github.io/SnpEff/ss_introduction/)  / [variant tools](https://vatlab.github.io/vat-docs/) /   [SILVAR](https://github.com/brentp/slivar#family-expressions) / [VCF PRocessor ](http://lysine.univ-brest.fr/vcfprocessor/filters.htm

[2020-11-08 00:36] ysard commented on #182
- Using custom types could be a solution, but it may be an important brake for querying without index (it's not a reason to index all the fields either eh...)
- Creating many fields is complex unless we can know the number of columns in advance.

Beware with this kind of "function" it is already a pain in the ass to handle in VQL with tuples, custom field types in filter editor, etc.
It should be

[2020-11-08 00:40] ysard commented on #188
Bizarre:
[code]

Ok let's continue to fix the current version before adding more unstable thing. This for a few days.

[2020-11-08 00:52] ysard commented on #189
We're mature enough to run the tests ourselves before we push on the devel/master branches and know what breaks and why we leave it broken.
It's still useless unless it's launched on another OS than the ones we use to run the tests. And still, not with every batch of commits...
Why not on a special branch named CI tests where we can push on demand and see the status when we want to know it.

If it

[2020-11-08 00:54] dridk commented on #189
I guess we can run CI using a keyword in the commit.

[2020-11-08 01:07] dridk commented on #182
For multi-value, I propose to create one sql column per value with a specific name and abstract the query from VQL :

VCF:
Field =3,2,3

SQL:
Field__0 = 3
Field__1 = 2
Field__2 = 3

VQL:
Field[0] will be replaced by Field__0 internally

this method makes possible the following statements:

Select Field[0] from variant where Field[1] > 4

[2020-11-08 01:19] ysard commented on #108
Well this issue is definitely an interesting question...

We have to be smart here. I know how to provide optimizations for contiguous pagination (page 1 to 2, 2 to 3, and 3 to 2, 2 to 1, etc.).
I will need to make not insignificant changes to the way pagination is currently managed.

For random jump it is another challenge.
The easiest way is to do like SQLiteBrowser does: query and put in cache

[2020-11-08 01:30] dridk commented on #108
we may use QContiguousCache
https://doc.qt.io/qt-5/qcontiguouscache.html

or just a simple QCache .

by the way, since ThreadSql, this optimization does not urge

[2020-11-09 00:18] dridk opened #191 "Support old EFF annotations"
VCF example from #128 are already annotated. It seems they used the old snpEff EFF prefixed annotations.

specification are avaible here :
https://pcingola.github.io/SnpEff/se_inputoutput/#eff-field-vcf-output-files

[2020-11-09 00:52] dridk opened #192 "Add Save project button"
It would be greate to work on a copy of the sqlite project named "mydb.db.current" .
And save the current project when clicking on "Save Project" button.

- mydb.db~    =>  mydb.db when saving.

This can be a problem for large dataset...
Track all sql write query and apply them when saving,  is another solution . But don't know if it possible.

[2020-11-09 01:18] ysard opened #193 "Create a Pedigree Chart"
Probably related to #101.

By reading the documentation of SnpEff & SnpSift:
https://pcingola.github.io/SnpEff/examples/

By the way, **I strongly recommend writing such a tutorial before any new implementation of anything;
it helps people know what they can do with software and how they can do it**.

It's the difference between displaying a batch of raw data and teach people how to use it.
The ac

[2020-11-09 01:27] ysard commented on #192
The soft is not designed for that.
I will not advise to go into the complex and time-consuming implementation of transactions here, nor into multi-user usage patterns.

What are the features that write in BDD?
- favorites
- comments
- ACMG classification
- selections (after filtering, after importing BED file)

When you take an action you can delete it immediately, nothing is irreversible and data

[2020-11-09 01:53] ysard opened #194 "Page numbering"
It begins with 0, and should begin with 1.

[2020-11-09 11:29] dridk commented on #193
It would be **awesome** to show a pedigree tree like this and display genotype status of each sample when clicking on a variant.
But drawing a pedigree chart is a real complex problem for complex familly. It required some constraint programming to resolve node's position.

- I just found this, which looks exactly what we want :
https://peddraw.github.io/

I suggest to create a plugin "pedigree" to

[2020-11-09 11:41] dridk commented on #193
Something like that would be awesome !

![image](https://user-images.githubusercontent.com/1911063/98536809-ad1a2300-2288-11eb-822b-b05970ebc23c.png)

I guess we can use peddraw code to let graphviz resolve the position of nodes.
Then read the dot file with node position and draw manually the chart with Qt things .

[2020-11-09 16:59] ysard commented on #193
Well seen with peddraw!

Don't know how it handles special cases like remarriage etc.

Yes graphviz is made to solve this problem of layout.
Moreover it is possible to get coordinates of nodes, and maybe edges without a temp dot file via networkx.
The layout of edges is maybe the biggest problem.

https://stackoverflow.com/questions/13938770/how-to-get-the-coordinates-from-layout-from-graphviz
pos

[2020-11-10 20:38] #194 closed, assigned to dridk

[2020-11-11 01:07] #189 closed, assigned to dridk

[2020-11-11 01:17] dridk commented on #189
we are using github-CI now ! Which is quite better than travis !

It is avaible here : https://github.com/labsquare/cutevariant/actions/

It works for both mac / windows / linux .
But default, only Linux VM are used to run test when pushing or pull_requesting on devel and master branches.
If you want to run test on windows and MacOS , and deploy some binary avaible as "artifact", you must add "[de

[2020-11-11 10:55] dridk opened #195 "Pedigree doesn't import phenotype"
**Describe the bug**
Cutevariant doesn't import pedigree ( sex and phenotype )

**To Reproduce**
- Create a project
- use examples/test.snpeff.vcf
- import pedfile test.snpeff.pedigree.tfam

Familly are imported. But Sex and phenotype stay empty.

[2020-11-11 12:01] #195 closed, assigned to dridk

[2020-11-11 12:15] dridk opened #196 "PedReader should not test complementary with sample db"
PedReader should be only a pedfile reader. Testing compatibility with sample DB is not a good idea.

Actually, there is a bug due to this :

I tried to reproduce to SnpEff protocol : https://pcingola.github.io/SnpEff/examples/
VCF and pedfile are here : https://github.com/jmchilton/SnpEffect/tree/master/papers/Protocol/data

This is okay :
![image](https://user-images.githubusercontent.com/1911063

[2020-11-11 16:48] dridk commented on #196
I fixed the bug in another branch waiting your approval.
We must fix this quickly, because I published a  documentation here which reproduce the SnpEff examples :
https://github.com/labsquare/cutevariant/wiki/Usage-examples

[2020-11-12 11:51] dridk opened #197 "Export variant table to excel"
All in the title.

[2020-11-12 22:56] #196 closed, assigned to nobody

[2020-11-13 14:42] dridk opened #198 "Performance issue with large dataset"
I m using the tutorial from here :
https://github.com/labsquare/cutevariant/wiki/Usage-examples

Showing variant from the following query is extremly fast  ! Even when displaying the last page
```SELECT favorite,chr,pos,ref,alt FROM variants ```

But when you try to show an annotation like "gene" or "impact"... It is really slow ...

```SELECT chr, pos, gene FROM variants ```

All the time, it com

[2020-11-13 15:38] dridk opened #199 "Make windows 32 bits binary"
Bug report from @martbro

Seems actual version à 64 bits.
Create 32 bits binary with github-CI
![image](https://user-images.githubusercontent.com/1911063/99090050-67ce5c00-25ce-11eb-8715-fe9b73a61140.png)

[2020-11-13 16:30] dridk commented on #199
Seems working ! => 659c485864e829c787a05f0575699ebceb441545
https://github.com/labsquare/cutevariant/actions/runs/361894748

Thanks @martbro for testing !

[2020-11-18 03:07] ysard commented on #197
Question: The goal is precisely that users do not use this kind of unsuitable tools, introducing errors in the processing of data, right?

Also: For the moment the CSV export is for the data currently viewed in variant_view (All pages, except data from other tables);

In fact you want to keep this behavior and add another export option, or patch the current behavior to query the table and not the

[2020-11-18 03:39] ysard commented on #198
Querying the table is slow because the file is big.

There are 2 origins to this delay:
- loading the project file in the disk cache of the operating system
- its querying

You can index a few more columns (which I was planning to do one day):
gt of samples_has_variant, and gene, impact, consequence, biotype of annotations.

Remember that too many indexes lead to 2 things:
- complexity of the quer

[2020-11-18 04:28] ysard commented on #196
I don't really have time to spend on the project now :(

From memory you told me that the family ids were "fam" by def (I agree that this is not in the norm).
In fact until now, one would expect to handle *.tfam files which contain the family identifier "fam" (same default name as in the DB).

The problem is that VCF files don't appear to have a family identifier in their data (?) And PLINK files

[2020-11-19 17:12] dridk commented on #197
Ah .. I didn't know we already have this feature :D  !

[2020-11-19 17:12] #197 closed, assigned to nobody

[2020-11-19 17:16] dridk commented on #198
If it is not due to to join. Why it is faster when a query fields only from variant tables ?

[2020-11-24 12:43] dridk opened #200 "InfoPlugins: Metrics"
Create the following metrics :

- heterozygous ratio : Number of heterozygous
- Relatedness :   Pairwise sample comparaison

see vcftools for more information
vcftools --vcf myfile.vcf --relatedness2
vcftools --vcf myfile.vcf --counts

[2020-11-25 00:01] dridk opened #201 "Vcftools inspiration"
Get inspired by vcf tools and check if all features are present in cutevariants
https://vcftools.github.io/man_latest.html

- hardy weindeberg p-value
- freq stat
- count stat
- depth stats
- fst stats
- export for beagle, impute
- diff-indiv

[2020-11-26 14:50] dridk opened #202 "progress bar doesn't work with bgzip ( not gzip ) !"
I didn't see the progress bar moving when I try to import a vcf.gz

[2020-11-26 16:18] dridk commented on #202
https://www.biostars.org/p/475646/

[2020-11-26 18:07] dridk opened #203 "Illumina variantStudio"
Just discover variantStudio from Illumina...

This is the most similar tools than cutevariant ! Lot of inspiration here !

https://support.illumina.com/content/dam/illumina-support/documents/documentation/software_documentation/variantstudio/variant-studio-v3-0-user-guide-1504890-01.pdf

[2020-12-01 22:42] #199 closed, assigned to dridk

[2020-12-01 22:47] dridk commented on #203
- new bottom menu for History  => All previous VQL

[2020-12-01 22:48] dridk opened #204 "Create History plugins"
Should be easy !

![image](https://user-images.githubusercontent.com/1911063/100805828-aa49c280-342f-11eb-9924-3873a832873a.png)

[2020-12-01 23:05] dridk opened #205 "Export action : 2 kinds"
File > Export should be use to export all the Database
variant_view > export should be use to export the current selection

[2020-12-03 12:10] dridk opened #206 "[ Filter plugin ] Apply filter button"
It would be better to have a button to apply a filters . Instant filtering  when editing can create unexepted behavior

[2020-12-03 12:28] dridk opened #207 "[ variant_view ] add hyper link for cell value ?"
for rsid or transcript, it would be helpful to have a blue link to click .

![image](https://user-images.githubusercontent.com/1911063/101018134-59d77f80-356b-11eb-812a-7ba08af345fa.png)

[2020-12-09 10:35] dridk opened #209 "No DP per samples"
didn't fied DP field in "sample" category...
This is probably due to the collision with variant.DP....

Need to fix it quickly !

[2020-12-09 14:55] #209 closed, assigned to nobody

[2020-12-09 15:13] #206 closed, assigned to nobody

[2020-12-09 21:44] #204 closed, assigned to dridk

[2020-12-09 22:07] dridk opened #210 "Double click on variant"
Double click on variant should open the last open with action ! Or the default one

[2020-12-11 09:34] tetedange13 opened #211 "[CEP] Trio analysis plugin - pedigree"
The trio analysis plugin works fine, but possible ways of improvement:

- [ ] It seems that the pedigree given at import is **not taken into account**
=>It should pre-set 'roles' (father, mother, index) associated with each sample

- [ ] In the case where no pedigree was given at import, maybe create a .tfam once the user set 'role' of each sample + ran analysis
=> Like that, no need to re-attribu

[2020-12-11 10:05] tetedange13 opened #212 "[CEP] Manage auto-refresh of columns"
As each GUI click to add/remove a column automatically reload variants_view, with a big VCF it can be painful to add several column after another.

Since release of v0.2.5 a "Refresh" button was added, but variant_view is still refreshed on GUI click on a column
=> Maybe add new parameter, to switch on/off auto-refresh
=> User will have to click on "Refresh" once he selected all columns he wants

[2020-12-11 14:45] tetedange13 opened #213 "[CEP] Chose starting columns via import wizard"
Could be interesting to **chose directly starting/favorite list of columns through the "import wizard"**
=> Like this, user can skip the 1st step of adding several columns *via* GUI/VQL, before starting its VCF mining

[2020-12-16 18:36] dridk commented on #213
May be better to have a predefined columns which can be saved and load for later

[2020-12-18 12:37] dridk opened #214 "Field with "." are not supported"
Cannot display the field named "technolgy.protocol"

Suggest to replace "." by "_"

[2020-12-26 01:00] #210 closed, assigned to nobody

[2020-12-26 01:02] dridk commented on #198
looks better now since i use Thread and compute count separately

[2020-12-26 01:02] #198 closed, assigned to nobody

[2020-12-30 16:05] dridk opened #215 "Create Harmonizome plugin"
https://maayanlab.cloud/Harmonizome/

[2020-12-31 22:32] dridk opened #216 "[ Qt Widget ] Create a HaploView widget"
HaploView is a half heatmap showing linkage desequilibrum (LD) between mutation along a genom axis.
Here, red color intensity of a square represent the LD as a value between 0 et 100.
![image](https://user-images.githubusercontent.com/1911063/103427125-03d41700-4bbf-11eb-8cf3-c8a3753a4fe5.png)

## Objectif :
Create a class HaploView Widget showing a half matrix in a QScrollArea. Use QPainter to dr

[2021-01-02 14:30] dridk opened #217 "[ Qt Widget ] Data exploration plugin"
A plugin to display file folder from a Tree and open project from there

[2021-01-03 23:40] dridk opened #218 "Create a landing page"
Need a landing page to download binary and show documentation

[2021-01-05 02:35] dridk opened #219 "[ Qt Widget ] PDB viewer"
Pdb is a database of protein with 3d structure.
The website contains a 3d viewer for each protein.

OBJECTIF :
create a 3d viewer as a QWidget.  The easiest solution would be to use a QWebWidget to load the hrml and js

exemple here:

http://nglviewer.org/nglview/latest/#example

https://codepen.io/pen?template=JNLMXb

[2021-01-20 13:49] dridk opened #220 "VEP annotation has %3D caracter in hgvs fields"
Benjamin Cogne :
je suis en train de tester cutevariant sur du génome / VCF annotés et pré-filtrés.
J'aurais 2 petits soucis:
- au chargement des VCF il semble que le "=" sous format %3D tel qu'utilisé dans le champs HGVSp de VEP ne soit pas supporté / j'ai une erreur d'encodage ascii. Cela fonctionne lorsque je remplace le caractère

[2021-01-20 14:13] benjamin-cogne commented on #220
hello,
le "=" est réservé comme délimitateur de champs, donc il est remplacé par %3D lorsqu'il correspond à une valeur par exemple dans le champs HGVSp par VEP, les variants synonymes sont encodés p.Asn17%3d pour p.Asn17=
Liste des caractères spéciaux dans VCF v4.3 à prendre en compte (https://samtools.github.io/hts-specs/VCFv4.3.pdf):
"""
The character encoding of VCF files is UTF-8.  UTF-8 is a

[2021-01-20 14:46] dridk opened #221 "VCF VEP parser"
CSQ annotation with extra fields ( not from ANN standard format ) seems belong to "variant table" and not "annotation table "

`##INFO=<ID=CSQ,Number=.,Type=String,Description="Consequence annotations from Ensembl VEP. Format: Allele|Consequence|IMPACT|SYMBOL|Gene|Feature_type|Feature|BIOTYPE|EXON|INTRON|HGVSc|HGVSp|cDNA_position|CDS_position|Protein_position|Amino_acids|Codons|Existing_variation|

[2021-01-20 16:46] #220 closed, assigned to nobody

[2021-01-20 17:11] dridk commented on #221
Close ! Not a bug !

[2021-01-20 17:11] #221 closed, assigned to nobody

[2021-02-03 16:02] dridk opened #222 "cannot overwrite project db"
When creating a project, it cannot override the previous one with the same name .

[2021-02-09 14:15] Meg-Cllbrt opened #223 "Doesn't export excel all columns"
Quand je souhaite exporter un ficher excel, je n'ai pas toutes les colonnes.

[2021-02-16 16:57] AmiralB opened #224 "ctrl + C shortcut"
ctrl+C shortcut does not work on an extended selection in variant_view
Copies only the box clicked to select the variant_view

[2021-02-16 17:16] AmiralB opened #225 "filter with sample annotations"
Saved filter in filters_editors modifies the syntax of annotations linked to the samples in the query
ex: WHERE sample['sample_name']. > 10.0
after saving
WHERE ['sample', 'sample_name', 'dp'] > 10.0

[2021-02-18 14:18] dridk opened #226 "Export by sample"
Would be greate to export by samples !

[2021-02-18 14:29] dridk opened #227 "[ variant_info] Add extra info in sample panel"
Add more sample info :

currently, it displays only "sample" . Add more info like DP and AF per samples

[2021-02-18 14:30] dridk opened #228 "[variant_view] change pagination display"
It should be good to display something like :  Page 3 on 43

[2021-02-28 17:51] SteampunkIslande commented on #219
https://www.ncbi.nlm.nih.gov/Structure/icn3d/full.html?mmdbid=1TUP
This pdb viewer is pretty cool, just need to specify the molecule you wish to see as a GET request

[2021-02-28 18:13] dridk commented on #219
If you find a way to also display the mutation position!

[2021-03-02 13:29] SteampunkIslande commented on #219
Mince, je me souviens pas avoir ajouté ça comme milestone

[2021-03-11 23:41] dridk opened #232 "create variant writer"
-  [x] export to bed
-  [x] export to vcf
-  [x] export to csv

[2021-03-17 23:40] SteampunkIslande commented on #232
With [this commit](https://github.com/labsquare/cutevariant/commit/835d6a2479c54b2f285788264fd8dbe20d440adf):
- CsvWriter works as expected, and takes proper advantage of inheriting the new AbstractWriter class
- AbstractWriter provides connection to database, with only one query function (so far) to retrieve all variants.
- VcfWriter is not implemented yet. Looks like, even from [the doc itself](

[2021-03-18 00:43] dridk commented on #232
Cool !!

[2021-03-20 00:01] SteampunkIslande commented on #232
Sorry, I forgot to mention this issue in my latest commit... Here is [the commit](https://github.com/labsquare/cutevariant/commit/25feadab749f3fa55a719712ef7a69190afac751)

[2021-03-27 00:53] SteampunkIslande opened #233 "Field editor widget enhancement"
It would be great to have a new kind of field editor widget.

Actually, this is part of a commit I'm about to push, just thought it would be good to have an issue related to it so we can discuss.

[2021-04-02 19:25] #202 closed, assigned to nobody

[2021-04-02 23:26] dridk opened #236 "new Json query syntax"
#Actually, filters used a non standard way to create nested set of condition.
It would be greate to follow the same syntax than mongodb to define filters .

## Before :

[code]
Here impact must be guess from the annotation table. This is really painfull !

## After :

[code]

[2021-04-02 23:45] dridk opened #237 "New fields synax"
Actually, it is really hard to make distinction between fields from variants table or annotations table.
I suggest to replace the fields selection :

## Before

[code]

By a dictionnary :

## After

[code]

[2021-05-02 14:07] #224 closed, assigned to SteampunkIslande

[2021-05-02 17:25] SteampunkIslande commented on #237
Now in the latest release !

[2021-05-02 20:01] #237 closed, assigned to dridk

[2021-05-02 20:02] #236 closed, assigned to dridk

[2021-05-02 20:02] #233 closed, assigned to nobody

[2021-05-02 20:03] #225 closed, assigned to nobody

[2021-05-02 20:04] #223 closed, assigned to nobody

[2021-05-02 20:58] #228 closed, assigned to nobody

[2021-05-02 21:01] dridk commented on #227
already there .. .?

[2021-05-02 21:01] #227 closed, assigned to nobody

[2021-05-02 21:20] #222 closed, assigned to nobody

[2021-05-02 21:23] dridk commented on #214
looks like fixed ! I tested by replacing a standard fields with "technology.protocol".  It works

[2021-05-02 21:23] #214 closed, assigned to nobody

[2021-05-02 21:25] dridk commented on #213
Cutevariant now supports "presets" from fields selector

[2021-05-02 21:25] #213 closed, assigned to nobody

[2021-05-02 21:25] dridk commented on #212
Fixed in last released

[2021-05-02 21:25] #212 closed, assigned to nobody

[2021-05-02 21:33] dridk commented on #205
One export action from File menu. Export what is seen on the variant_view.

[2021-05-02 21:33] #205 closed, assigned to nobody

[2021-05-02 21:35] dridk commented on #192
Cutevariant has now "save session" and "restore session"  which save the state of all plugins .

[2021-05-02 21:35] #192 closed, assigned to nobody

[2021-05-03 09:49] SteampunkIslande commented on #190
I agree with them all except maybe for the flag expressions: having multiple ways of expressing the same thing can be confusing.
Other than that I like the other ideas, they are a perfect fit for a good old hackathon !

[2021-05-03 13:02] SteampunkIslande opened #238 "Regex filter inconsistency and error"
There is an inconsistency when defining regular expressions, between Filters editor plugin and VQL editor.

If you go to Filters editor and create a condition with REGEXP, then hit apply, everything works fine and the VQL editor gets updated with the regular expression. However, if you run a query with the exact same VQL expression, the filters editor plugin ends up with a 'equal' sign instead of

[2021-05-03 13:04] dridk commented on #238
VQL use ~ operator for regular expression .
I suggest to harmonize the naming.
Could you replace "REGEXP" to "~" from filter editor  ?

[2021-05-03 13:31] SteampunkIslande commented on #238
Actually filter_editor retrieves the name of the operators in a dict called OPERATORS_PY_SQL, and not OPERATORS_PY_VQL...
So what about renaming the dict as well ?

[2021-05-03 14:22] dridk opened #239 "Familly is not editable in wizard"
Cannot edit Family from import wizard.
This is required for familly analysis

[2021-05-03 15:23] SteampunkIslande commented on #239
![image](https://user-images.githubusercontent.com/64743278/116896098-2bea8a00-ac34-11eb-97ed-7086fc836a16.png)

On devel branch it's working

[2021-05-03 15:45] dridk commented on #239
try the "family" column

[2021-05-03 17:26] SteampunkIslande opened #240 "Selections creation enhancement"
Right now, the user can create a selection with spaces. And VQL doesn't like that at all.

So there are three possible fixes:
1- Make it impossible for the user to enter any white space character when creating/changing the name of the selection.
2- Automatically replace any white space with underscore (after user input)
3- Make it possible, in VQL, to support spaces.

Last solution is the worst I

[2021-05-03 21:48] SteampunkIslande opened #241 "Drag fields from fields editor to create filters"
This would be great to have a context menu inside the fields editor view.
Right clicking a field would have a dialog popping up, prompting the user for the operator and the desired value to filter on.

(or even better, drag and drop a field item in the filter tree view... Same logic as above, where the exact place in the filter nested hierarchy would be determined by the index that received the dr

[2021-05-04 19:59] dridk opened #242 "Create default links"
Create default link with the release

- [x] Clinvar
- [x] dbsnp
- [x] IGV
- [x] varsome
- [x] google

[2021-05-04 20:00] #232 closed, assigned to SteampunkIslande

[2021-05-04 20:01] #238 closed, assigned to SteampunkIslande

[2021-05-05 09:24] SteampunkIslande opened #243 "Gene viewer plugin"
These are the remaining steps for the gene viewer plugin so it can be released, at least on the devel branch.

- [x] Draw coding and non coding exons
- [x] Draw lollipops at each variant position
- [x] Make the exons clickable
- [x] Add a toolbar to reset zoom
- [ ] Add zoom in/zoom out button
- [ ] Add a settings widget for the plugin (see variantview for reference)
- [x] Create Area rectangle se

[2021-05-05 10:58] dridk opened #244 "Make filter widget columns resizable"
It is difficult to select a fields from filters editor when the name is too long. Please allow column resizable.

[2021-05-05 10:59] dridk opened #245 "Make possible to add link in formatter"
It would be awesome to have clickable link from the variant view.
For instance :

if role == LinkRole:
     return "http://www.google.fr"

[2021-05-05 15:44] SteampunkIslande commented on #243
Should I draw the CDS behind or in front of the exons ?

[2021-05-06 10:49] dridk opened #246 "Create an omnibar search"
Create a search bar in the toolbar :

- Search by location  :   chr4:234234-9999999
- Search by gene : CFTR

This will create filters with the corresponding criteria

[2021-05-06 22:29] dridk opened #247 "Refactor plugins with observable pattern design"
State class must be an observable which can notify plugins.

From Plugins :

[code]

[2021-05-11 00:35] dridk opened #248 "[geneviewer] todo"
- [ ] Use the default cursor.. It looks wired to always have the horizontal double arrow cursor
- [x] Remove exon number from exon bar. It must only appear on button
- [x] Some lolipop have no circle. Probably when count_var = 0. Use count_var  + 1
- [ ] Draw a legend. I have no idea what the meaning of color. Set color with impact

[2021-05-11 12:57] SteampunkIslande commented on #248
For lollipops with no circle, let's add a constant. So we have :
thickness = (count_var / sample_count) * 20 +10

[2021-05-11 16:21] SteampunkIslande commented on #248
Drawing the legend did a mess in the code...

[2021-05-12 09:58] SteampunkIslande commented on #243
Maybe the zoom in/zoom out button is not so useful, it's already possible to zoom in both with the mouse wheel and the region selection. Not to mention the clickable exon handles that zoom to the exon

[2021-05-14 17:52] SteampunkIslande commented on #247
While we're at plugin refactoring, it would be great to have a settings button shortcut at the top right corner of every plugin widget

[2021-05-17 22:00] dridk commented on #219
This is how to load a local file frome javascript in a webkit engine :

   QHttpServer httpServer;
    httpServer.route("/", []() {
        return QHttpServerResponse::fromFile(QStringLiteral(":/map.html"));
    });
https://stackoverflow.com/questions/56841294/qwebengineview-access-control-allow-headers-error-while-using-wrld-js

[2021-05-19 14:36] dridk opened #249 "[variant_view] Button to autoadjust columns header width"
Create a button to auto adjust column header based on header text.

[2021-05-19 14:36] dridk opened #250 "[ source editor ] Add buttons"
Add buttons :

- Create Sets
- Create Set from Bed ...

[2021-05-19 14:54] dridk opened #251 "[ Filter editor ] Add clear button"
Clear all filters !
I clicked on the trash which is not intended for this purpose

[2021-05-19 14:57] dridk opened #252 "[ Formatter] Cutestyle classification color"
Classification 4 and 5 has the same color  (red) with cute style.
Make a darker red for class 5.

![image](https://user-images.githubusercontent.com/1911063/118835423-46269800-b8c3-11eb-95eb-73db8b19efce.png)

[2021-05-19 22:06] #250 closed, assigned to dridk

[2021-05-19 22:24] #251 closed, assigned to dridk

[2021-05-19 22:24] #252 closed, assigned to nobody

[2021-05-19 22:46] #247 closed, assigned to dridk

[2021-05-19 22:47] #249 closed, assigned to nobody

[2021-05-20 10:05] dridk opened #253 "[ wordset editor ] Create set operation buttons"
- Select two wordset
- Click on "intersect", "union", "difference"

[2021-05-20 18:28] dridk commented on #253
- Display also count elements
- Make row size bigger

[2021-05-21 09:52] dridk opened #254 "Create loading splash screen"
It would be greate to show plugin loading progression from the Splash Screen

[2021-05-21 22:30] #253 closed, assigned to SteampunkIslande

[2021-05-21 22:44] #244 closed, assigned to nobody

[2021-05-22 00:16] SteampunkIslande opened #255 "Source editor refactoring"
We could improve source edition, by replicating the behavior of the latest features from the wordset editor.

This would be done by simplifying union, difference and intersection operations.

We would end up with three actions (that should only be active when at least one source is selected).
- Intersect
- Union
- Difference

[2021-05-23 12:22] dridk opened #256 "[variant info] Refactoring : Split into 3 plugins"
Split variant_info plugins into 3 plugins :

- Variant editor ( Text editor ... )
- Genotype ( With genotypes and samples information )
- Variant info ( A tree view with all fields values )

[2021-05-24 09:45] dridk opened #257 "Update Formatter with new syntax"
Currently, formatter is not easy to implement. I suggest to do something like this :

[code]

[2021-05-25 11:34] dridk opened #258 "[Filter Favorite] Create a button to quick filter favorite"
Would be greate to filter favorite = 1 quickly using a button

[2021-06-02 14:27] dridk opened #259 "Bug report from Strasbourg"
- [x] - Je vois également que dans "Fields Editor", la section "variants" liste tous les champs dans INFO, mais je n'ai rien dans la section "annotations". Est-ce normal ?
- [x]   Quand on "export" et que finalement on "Cancel", un message apparait comme quoi il n'y a pas de nom de fichier, donc on ne pourra pas enregistrer. Ce qui est normal, on a "Cancel".
- [x]  Par contre, l'export ne génère a

[2021-06-02 15:51] dridk commented on #259
Pour la derniere issue, y a le drag and drop !

[2021-06-03 18:53] #259 closed, assigned to nobody

[2021-06-07 12:09] dridk opened #260 "[VQL editor] Space is adding with autocompletion"
It looks strange to have the VQL autocompleter adding a space ..
It makes query like this :

     SELECT chr ,pos , ....

Please remove the space insert after autocompletion .

[2021-06-07 12:17] bm777 commented on #260
Yeah, we will have a look at it.

[2021-06-07 18:15] dridk opened #261 "[ Filter Editor ] Crash when item dropping on same item"
- Create a filter from filter editor
- Drag and drop on the same place
- It crash...

[2021-06-21 13:08] SteampunkIslande opened #262 "Cutevariant ameliorations"
- [ ] Make the table empty upon query error
- [x] Make the table empty upon database open failure (for now it is just a status bar message, hard to see)
- [ ] Ajouter un ordre des fields (déplacement dans le tableau ?) dans les paramétrages de fields editor
- [ ] Ajouter un "order by" (multiple) dans le paramétrage des fields
- [x] Make the variant count per page customizable
- [ ] Weird line coun

[2021-06-21 13:35] SteampunkIslande opened #263 "Simple ameliorations"
- [x] Being able to batch edit 'favorite' and 'classification' fields
- [x] Being able to click the 'favorite' icon instead of using context menu
- [x] Being able to select variants only from one sample (or a list of samples), quickly and without complex query
- [x] Make the 'comment' column editable inside the variant view

[2021-06-21 13:47] SteampunkIslande commented on #263
IMHO, selecting only from one sample is already as simple as checking the sample's genotype field in the fields editor...

[2021-06-21 14:04] bioinfo-chru-strasbourg opened #264 "Make possible batch to tag Favorite and Classification with a selection of variants"
As it's possible to tag as Favorite and to classify a uniq variant, it would be great to tag and classify a selection of variants.
This will accelerate noise tagging (see #265)

[2021-06-21 15:28] bioinfo-chru-strasbourg opened #265 "Tag variant as Ignored"
As it is possible to tag a variant as Favorite, it would be great to tag a variant as "Ignored". Especially in order to identify noise (useful in batch #264).
Is using Favorite database field with "-1" value possible?
Or a new field "classifying" a variant with a "validation" score (Favorite, Ignored, Sanger asked, bioinformatician evaluation, biologist evaluation...)? Actuelly, we are using a 012

[2021-06-21 15:33] bioinfo-chru-strasbourg opened #266 "New request/filter/project and not empty table"
When a new project is opened, an new filter is applied, or a request is runned, the variant table is still filled by the last resquest.
A warning message is usefull, but if results are still in the table, it's very confusing.

[2021-06-21 15:39] bioinfo-chru-strasbourg commented on #263
In that way, you see the genotype of this samle, but you do not select variants (het and hom) only present for this sample.
It's more something like "SELECT fields WHERE [filters] AND sample.gt != WT"

[2021-06-28 11:12] SteampunkIslande commented on #264
Here is a screen cast of the new batch classification in action
![Cutevariant batch classification](https://user-images.githubusercontent.com/64743278/123627514-6591d880-d812-11eb-96db-b9e9e4a390f6.gif)

[2021-06-28 11:14] SteampunkIslande commented on #263
Batch edit classification was implemented as mentioned in #264

[2021-06-29 10:14] SteampunkIslande commented on #261
Fixed on devel

[2021-06-29 11:27] SteampunkIslande commented on #255
Found a weird bug. Steps to reproduce:
- Create easy to debug BED file. For example, in the variant view, sort variants by position, and create a BED with one line with chr, pos_of_first_variant, pos_of_last_variant +1
- Create new source from intersection with this BED file
- Select from this new source (will be automatic)

There are two issues:
- In the source editor, count will be one more than

[2021-06-29 22:34] dridk commented on #264
extremely slow to edit multiple variant ! Optimization required !

[2021-06-30 15:42] SteampunkIslande commented on #242
Thanks to the latest commit, now there is a preset that will take you to IGV at the locus of the selected variant if you right click external links > IGV

[2021-07-01 17:01] #242 closed, assigned to SteampunkIslande

[2021-07-01 17:10] #239 closed, assigned to SteampunkIslande

[2021-07-01 17:43] SteampunkIslande commented on #255
Solved bug from last comment! Thanks to @dridk who found the bug. When intersecting with a BED file, "SELECT **DISTINCT**"

[2021-07-01 17:44] #255 closed, assigned to SteampunkIslande

[2021-07-01 18:28] SteampunkIslande commented on #263
@dridk I'm not sure, but I think this is trickier than it looks like, since the icon is part of the cutestyle, which means it will only be a cell with 0 or 1 if no style is applied.

So what about a tool button at the top of the view ?

[2021-07-01 19:27] antonylebechec commented on #263
Basically, I think it's tricky too. But I don't really know the underlying technical constraints. If a button could be a simple way to speed up the feature, it's great!

Actually, I suggest a global rebuild of this feature, by expending this favorite feature as a "validation classification" feature (like "pathogenic classification") :
- "Favorite" field as integer, maybe renamed (or another field

[2021-07-01 19:32] SteampunkIslande commented on #263
I see, maybe I'll go for a simple button for now, and let's see. Is it too risky also to assign a tag to the whole selection (not just the first 50 that are visible, but every line the request retrieved ?)

Also concerning the 'tag' feature, with more than two values that favorite has for now, I think it's more like a new feature, however the goal for now is making the features we already have wor

[2021-07-01 19:45] antonylebechec commented on #263
Yes, let's do it simple for the moment, a button. Why is it to risky to to assign to the selected variant? It's what you did with "pathogenic classification", isn't it? I think it's not really interesting to assign avery line the request retrieved.
Let's develop another feature as a plugin and/or in the next release.

[2021-07-01 21:59] SteampunkIslande commented on #263
Here's a glimpse of how the actions look like now in the variant view
![cutevariant variant view actions 1](https://user-images.githubusercontent.com/64743278/124194137-5045d400-dac8-11eb-9378-07d39202e039.gif)

[2021-07-01 22:02] antonylebechec commented on #263
Great! And you can tag as Favorite all selected variants as well?

[2021-07-01 22:20] SteampunkIslande commented on #263
Yes, you can !

[2021-07-01 22:21] SteampunkIslande commented on #263
And now, we can select all variants of a sample by double clicking it in the genotype view
See screen cast below
![voila](https://user-images.githubusercontent.com/64743278/124195817-74ef7b00-dacb-11eb-9d81-30ededec0e30.gif)

[2021-07-01 22:21] antonylebechec commented on #263
Perfect!

[2021-07-01 22:22] antonylebechec commented on #263
Double Perfect!

[2021-07-01 22:49] #266 closed, assigned to nobody

[2021-07-01 22:50] SteampunkIslande commented on #264
Fixed in #263

[2021-07-01 22:50] #264 closed, assigned to SteampunkIslande

[2021-07-01 22:57] SteampunkIslande opened #267 "When creating a project, make it possible to choose indexed fields"
In the project wizard, at the 'select fields' page, add a checkable column with indexed fields

[2021-07-02 10:10] antonylebechec opened #268 "When creating a project, tag variant as uncertain classification, and make it possible to choose default classification"
Currently, the default classification of a variant is "3=Variant of uncertain significance".
This is confusing, because the user never applied any classification.
I suggest to tag variants as "0=Unclassified" by default, and make possible to choose the classification when a project is created.

[2021-07-02 10:21] antonylebechec commented on #268
Moreover, I suggest to add a "noise" or "exclude" classification, with negative value (-1).
Another feature would be to let user define their own classification, notwithstanding the fixed ACMG classification (1-5) and unclassified (0)

[2021-07-02 10:37] dridk commented on #268
ok ! should be easy to fix !

[2021-07-02 10:40] antonylebechec commented on #268
Juste notice that we would consider "0=Unclassified" as noise until the "-1=noise" is available.
So in own case, these 2 suggestions should be done simultaneously

[2021-07-02 10:40] antonylebechec commented on #268
Cool!

[2021-07-02 12:34] #261 closed, assigned to SteampunkIslande

[2021-07-03 11:59] #268 closed, assigned to nobody

[2021-07-05 11:33] antonylebechec opened #269 "Generalisation of fields for all samples"
Add a selection of fields from "FORMAT" and show columns for all sample.
As an example, by choosing "GT" and "DP" will show columns for sample.[*].gt and  sample.[*].dp.
In the same way, it could be great to use this generalisation for filter (e.g. sample.[*].dp>30).

[2021-07-05 12:09] dridk commented on #269
yes, that's a good idea !

By the way, we have count_var count_hom, count_het like snpEff !
For instance :
[code]
will select all variant present in only one sample among all samples.

[2021-07-05 15:07] antonylebechec commented on #269
Another idea should be to add in the "Genotype View" these samples' fields (DP, AD, VAF...), after "Phenotype". This seems to be more a "Samples View", but it will help a lot to evaluate the quality of the variant (DP, AD, VAF...). Perhaps it's technically easyier to developpe

[2021-07-05 22:16] #108 closed, assigned to ysard

[2021-07-05 22:25] #140 closed, assigned to dridk

[2021-07-06 13:45] SteampunkIslande commented on #267
![image](https://user-images.githubusercontent.com/64743278/124610928-3c57f480-de71-11eb-8baf-b12f39e592c9.png)

[2021-07-06 13:47] SteampunkIslande commented on #267
I didn't make a screencast since there is nothing interesting going on visually after the user click.
But how faster it gets when querying, that's impressive

[2021-07-06 22:26] dridk opened #270 "create cutevariant.config"
A config class ton return chainDict with defaut json ans user json.

- config.global returns cutevariant/config.json as default
- config.plugins["variant_view"] returns cutevariant/gui/plugins/variant_view/config.json as default

write :
config.global["theme"] = "DARK"
config.plugins["variant_view"]["memory"] = 23
config.save() # into QStandardPath.config

[2021-07-07 22:04] antonylebechec opened #271 "Plugin IGV (WEB)"
In order to visualize variants in their context, a plugin with IGV web to focus on the region, with the original VCF loaded to create the project.
Moreover, the possibility to load BAM and BED within this IGVWeb plugin

[2021-07-09 15:14] SamuelNicaise opened #272 "can't select fields with '.' using VQL"
**Describe the bug**
Can't use VQL editor to select columns with a dot in their name. No issue when going through the fields editor.

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Load a project with columns with dot in the name (ex: dejavu.*.* in most vcf from Strasbourg)
2. Using VQL editor, for example:

SELECT dejavu.hushemato.xths FROM variants
--> TextXSyntaxError: Expect

[2021-07-09 15:32] SamuelNicaise opened #273 "Harmonize Group by and Sample view behavior"
In the group by plugin
When a value is double clicked (and added to filters) ; all other possible values disappear from the Group by window.
Instead, all values should remain so we can easily switch from one to another, like Samples in the Sample view plugin.

In the Sample view plugin
When double clicking a sample, the current filter is erased and replaced by [sample].gt >= 1 .
Instead, the sampl

[2021-07-14 23:18] #269 closed, assigned to dridk

[2021-07-15 10:42] SamuelNicaise opened #274 "More flexibility with external links"
2 issues with external links

1) Links can't be generated if the column they need is not displayed (not selected with the field editor). Can this be changed?

For example I have a dbSNP external link: https://www.ncbi.nlm.nih.gov/snp/{rsid}
If rsid is not displayed, the link will go to this exact adress without converting the '{rsid}' part. With rsid selected in the field editor, the link works pr

[2021-07-15 12:44] #274 closed, assigned to nobody

[2021-07-15 13:07] #273 closed, assigned to dridk

[2021-07-15 13:14] #270 closed, assigned to dridk

[2021-07-15 13:15] dridk commented on #267
Not sure if it is actually relevant since we use in app indexation

[2021-07-15 13:20] #272 closed, assigned to nobody

[2021-07-15 14:29] #257 closed, assigned to dridk

[2021-07-15 14:30] dridk opened #275 "Create links with jinja2"
Links should be created using jinja2 instead a simple replacement

[2021-07-15 14:31] #275 closed, assigned to dridk

[2021-07-15 14:50] dridk commented on #245
useless ! We can do it from links

[2021-07-15 14:50] #245 closed, assigned to nobody

[2021-07-15 16:26] SamuelNicaise opened #276 "Easier way to filter tags"
To filter out variants with the "bruit" tag, right now we use the following filter:
tags ~ ^(?!.\*?(?:bruit)).\*$

This is not very intuitive for less tech-savy users. Maybe there could be an easier way to deal with excluded values in lists?

[2021-07-15 19:39] dridk commented on #276
WHERE tags HAS "bruit"

[2021-07-15 22:37] dridk opened #277 "[variant_view] Copy cell value"
- [x] [ variant_view] : From the context menu, add "copy value" action from the current cell
- [x] [ Settings ] : Make reset works ! Use config.reset()
- [x] [ Field Editor] : Qd on met l'index, on voit pas que ca souligne
- [x] [Help] : Developper > Create Plugins ....

[2021-07-17 12:44] SteampunkIslande commented on #277
Resetting needs some more work with individual setting pages.
For now, only global resetting and external links (variant view) resetting works

[2021-07-19 08:17] dridk commented on #276
Why not using :

tags ~ "bruit"

[2021-07-19 12:12] bioinfo-chru-strasbourg opened #278 "Overlap "Cute Style" ann.consequence colored icons"
Using "Cute Style" theme, colored icons are overlapped for "ann.consequence" column.
Same with "tags" column (test code copied from "ann.consequence").

![image](https://user-images.githubusercontent.com/40687400/126157682-11c15e4d-4f74-459c-b78f-1004a1404912.png)

![image](https://user-images.githubusercontent.com/40687400/126157758-484c3387-ca6e-4333-9928-85093ce713dd.png)

[2021-07-19 12:14] bioinfo-chru-strasbourg commented on #278
FYI: tested "devel" branch on MacOS 11.4 python3.9.6

[2021-07-19 12:27] bioinfo-chru-strasbourg commented on #278
forget "tags" issue, I didn't have the last "devel" release

[2021-07-19 12:39] bioinfo-chru-strasbourg opened #279 "Tags behavior issue"
When selecting "tags" for variant(s), these tags are replacing existing tags. This behavior could remove tags to keep, but without knowing it.
Propositions:
1/ "add" selected tags, instead of replacing them. Another option could remove all tags.
2/ an option "Replace" or "Add" or "Remove" instead of "Apply".
3/ distinction between tags on a uniq variant (list of checked tags for this variant, and

[2021-07-19 13:32] dridk commented on #279
ok !
The tag widget will have current tag checked.

[2021-07-19 16:35] #277 closed, assigned to SteampunkIslande

[2021-07-19 16:36] #267 closed, assigned to SteampunkIslande

[2021-07-19 16:36] #241 closed, assigned to SteampunkIslande

[2021-07-19 21:04] #279 closed, assigned to dridk

[2021-07-19 21:20] #278 closed, assigned to nobody

[2021-07-20 10:46] antonylebechec opened #280 "Tags update error"
When update multiple variants with multiple tags (with or without tags) :

Traceback (most recent call last):
  File "/Users/lebechea/BIOINFO/git/cutevariant/cutevariant/gui/plugins/variant_view/widgets.py", line 1332, in update_tags
    update_tags = set(tags + current_tags)
TypeError: can only concatenate list (not "str") to list

As example (update tag "noise")

![image](https://user-images.git

[2021-07-20 10:49] antonylebechec commented on #280
Another example (update/add tags with "noise") on this selection :

Traceback (most recent call last):
  File "/Users/lebechea/BIOINFO/git/cutevariant/cutevariant/gui/plugins/variant_view/widgets.py", line 1332, in update_tags
    update_tags = set(tags + current_tags)
TypeError: can only concatenate list (not "str") to list

![image](https://user-images.githubusercontent.com/40463532/126311568-4f

[2021-07-20 19:37] dridk commented on #280
@antonylebechec let me know if it works now !

[2021-07-20 19:59] antonylebechec commented on #280
It works!

[2021-07-20 19:59] antonylebechec commented on #280
A "remove" button is needed now...
(remove also tags not in the configured list)

[2021-07-20 20:19] antonylebechec opened #281 "Group by plugin, and Samples view interconnection"
Refresh button popup "Rrfresh".
Refresh button reload list with actual Filters editor. Is that correct? I think yes, but it should be more explicite.
Double click on a value (such as a gene) add criterion on filters, without refreshing the "Group by" list, which is great! But button "Create filter from selection" does not work.
After a double click on a "Group by" value, a double click on a sample

[2021-07-20 20:22] antonylebechec commented on #280
Add "bruit", then "noise", then "rendre"!!! great!

![image](https://user-images.githubusercontent.com/40463532/126390165-a86a2d27-9de1-4e5d-bf3b-3b807f0d8ebb.png)

![image](https://user-images.githubusercontent.com/40463532/126390195-5f21b7a6-50af-4469-bf0b-36364a86e545.png)

![image](https://user-images.githubusercontent.com/40463532/126390229-6835cd69-e57f-4dd5-9e67-f5d0b1bd474c.png)

![image](